<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__menu">
                <div class="container">
                    <form action="/" method="POST" class="page-header__search-form">
                        <input type="search" class="page-header__search-form-input" placeholder="Поиск">
                        <button class="page-header__search-form-submit" type="submit">
                            <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="page-header__menu-row">
                        <div class="page-header__menu-solutions">
                            <h3 class="page-header__menu-solutions-heading">
                                Решения
                            </h3>
                            <ul class="page-header__menu-solutions-list">
                                <li class="page-header__menu-solutions-list-item">
                                    <a href="#" class="page-header__menu-solutions-card">
                                        Разработка ПО, стартапы, большие данные

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-solutions-list-item">
                                    <a href="#" class="page-header__menu-solutions-card">
                                        IT-инфраструктура
                                        и телекоммуникационные решения

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-solutions-list-item">
                                    <a href="#" class="page-header__menu-solutions-card">
                                        Аутсорсинг, сервисные услуги и IaaS

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-solutions-list-item">
                                    <a href="#" class="page-header__menu-solutions-card">
                                        Инженерные системы и управление строительством

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-solutions-list-item">
                                    <a href="#" class="page-header__menu-solutions-card">
                                        Консалтинг
                                        и бизнес-приложения

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <nav class="page-header__menu-nav">
                            <a href="#" class="page-header__menu-nav-link">
                                Проекты
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                О компании
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                Пресс-центр
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                Отрасли
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                Партнёры
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                Карьера
                            </a>
                            <a href="#" class="page-header__menu-nav-link">
                                Контакты
                            </a>
                        </nav>
                        <div class="page-header__menu-contacts">
                            <a href="tel:+7 495 777-10-95" class="page-header__menu-phone-link">
                                +7 495 777-10-95
                            </a>
                            <a href="#" class="page-header__mail-link">
                                income@i-teco.ru
                            </a>
                            <ul class="page-header__menu-social-list">
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                            <use xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                            <use xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                            <use xlink:href="#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="120">
            </a>

            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Продукты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Решения
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Пресс-центр
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="page-header__burger">

            </button>
            <a href="#" class="page-header__search-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search"></use>
                </svg>
            </a>
            <a href="#" class="page-header__contact-link">
                Связаться
            </a>
        </div>
    </div>
</header>