<footer class="page-footer page-footer--simple">
    <div class="page-footer__inner">
        <div class="container">
            <div class="inner-container">
                <div class="event-footer">
                    <div class="event-footer__row">
                        <div class="event-footer__col">
                            <a href="#" class="event-footer__logo">
                                <img src="img/logo-dark.svg" alt="" class="event-footer__logo-image">
                            </a>

                        </div>
                        <div class="event-footer__col">
                            <div class="event-footer__contacts">
                                <a href="tel:+7 495 777-10-95" class="event-footer__phone-link">
                                    +7 495 777-10-95
                                </a>
                                <a href="mailto:income@i-teco.ru" class="event-footer__mail">income@i-teco.ru</a>
                                <div class="event-footer__address">
                                    <p>
                                        Ул. Кедрова, 15, Москва, 117036
                                    </p>
                                </div>
                            </div>
                            <ul class="event-footer__social-list">
                                <li class="event-footer__social-list-item">
                                    <a href="#" class="event-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-fb">
                                            <use xlink:href="#fb"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="event-footer__social-list-item">
                                    <a href="#" class="event-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                            <use xlink:href="#twitter"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="event-footer__social-list-item">
                                    <a href="#" class="event-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                            <use xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="event-footer__social-list-item">
                                    <a href="#" class="event-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="event-footer__social-list-item">
                                    <a href="#" class="event-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                            <use xlink:href="#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <div class="page-footer__bottom-row">
                    <div class="page-footer__copyright">
                        © i-teco, 2020
                    </div>
                    <a href="#" class="page-footer__policy">
                        Обработка персональных данных
                    </a>
                    <a href="#" class="page-footer__info">
                        Раскрытие информации
                    </a>
                    <a href="#" class="page-footer__made-by">
                        Создание сайта
                        <img src="img/mw-logo-dark.svg" alt="" class="page-footer__made-by-image">
                    </a>
                </div>
                <div class="page-footer__remark">
                    <p>
                        Поскольку информационные активы любой организации нуждаются в соответствующей защите, Политика
                        информационной безопасности АО «Ай-Теко» — один из основополагающих документов компании.
                        А Политика
                        организации обработки и обеспечения безопасности персональных данных в АО «Ай-Теко» определяет
                        соблюдение принципов законности, конфиденциальности и безопасности при обработке персональных
                        данных.
                        В сфере производственной безопасности обеспечивается приоритет сохранения жизни и здоровья
                        работников
                        перед результатом хозяйственной деятельности, что нашло отражение в документе Политика
                        АО «Ай-Теко»
                        в области охраны труда. Мы дорожим репутацией компании с ответственным подходом к решению
                        вопросов
                        обеспечения экологической безопасности, зафиксировав это в документе Политика АО «Ай-Теко»
                        в области
                        охраны окружающей среды.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>