<section class="solutions-intro js-solutions-intro-slider">


    <div class="container">
        <div class="solutions-intro__content">
            <div class="solutions-intro__top-row">
                <div class="solutions-intro__breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    <br>
                    / <a href="#">
                        Решения
                    </a>
                </div>
                <h1 class="solutions-intro__heading">
                    Услуги и решения
                </h1>
            </div>
            <div class="solutions-intro__slider">
                <button class="solutions-intro__slider-arrow solutions-intro__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <button class="solutions-intro__slider-arrow solutions-intro__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="solutions-intro__slider-card">
                                <img src="img/solutions/card-bg.jpg" alt="" class="solutions-intro__slider-card-bg">
                                <div class="solutions-intro__slider-card-top-row">
                                    <div class="solutions-intro__slider-card-icon-container">
                                        <img src="img/solutions/1.svg" alt="" class="solutions-intro__slider-card-icon">
                                    </div>
                                    <div class="solutions-intro__slider-card-content">
                                        <h4 class="solutions-intro__slider-card-title">
                                            Дистанция: цифровые инструменты удаленной работы
                                        </h4>
                                        <div class="solutions-intro__slider-card-text">
                                            <p>
                                                АйТеко предлагает антикризисное решение для организации удаленных
                                                рабочих
                                                мест на предприятиях заказчиков.
                                            </p>
                                        </div>
                                        <div class="solutions-intro__slider-card-tags">
                                            <div class="solutions-intro__slider-card-tag">
                                                Разработка ПО
                                            </div>
                                            <div class="solutions-intro__slider-card-tag">
                                                #стартапы
                                            </div>
                                            <div class="solutions-intro__slider-card-tag">
                                                #большие данные
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solutions-intro__slider-card solutions-intro__slider-card--dark">
                                <img src="img/solutions/short-card-bg.jpg" alt=""
                                    class="solutions-intro__slider-card-bg">
                                <div class="solutions-intro__slider-card-top-row">

                                    <div class="solutions-intro__slider-card-content">
                                        <h4 class="solutions-intro__slider-card-title">
                                            Дистанция: цифровые инструменты удаленной работы
                                        </h4>
                                        <div class="solutions-intro__slider-card-text">
                                            <p>
                                                АйТеко предлагает антикризисное решение для организации удаленных
                                                рабочих
                                                мест на предприятиях заказчиков.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="solutions-intro__slider-card-numbers">
                                        <div class="solutions-intro__slider-card-numbers-amount">
                                            500

                                        </div>
                                        <div class="solutions-intro__slider-card-numbers-text">
                                            рабочих мест
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solutions-intro__slider-card solutions-intro__slider-card--dark">
                                <img src="img/solutions/short-card-bg-2.jpg" alt=""
                                    class="solutions-intro__slider-card-bg">
                                <div class="solutions-intro__slider-card-top-row">
                                    <div
                                        class="solutions-intro__slider-card-icon-container solutions-intro__slider-card-icon-container--grey">
                                        <img src="img/solutions/2.jpg" alt="" class="solutions-intro__slider-card-icon">
                                    </div>
                                    <div class="solutions-intro__slider-card-content">
                                        <h4 class="solutions-intro__slider-card-title">
                                            Виртуализация и построение частного облака
                                        </h4>
                                        <div class="solutions-intro__slider-card-text">
                                            <p>
                                                Цифровой алфавит» ориентирован на организации, обрабатывающие большие
                                                объемы
                                                данных: государственные и финансовые учреждения,
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </div>
                
                    </div>
                </div>
                <div class="solutions-intro__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>