{{#extend "layout"}}
{{#content "main"}}


<section class="article-intro">
    <div class="container">
        <div class="inner-container">
            <div class="article-intro__breadcrumbs">
                <a href="#" class="article-intro__breadcrumbs-link">
                    Главная
                </a><br>
                /
                <a href="#" class="article-intro__breadcrumbs-link">
                    Пресс-центр
                </a>
            </div>
            <div class="article-intro__top-row">
                <div class="article-intro__tags">
                    <a href="#" class="article-intro__tag">
                        Рейтинг
                    </a>
                </div>
                <div class="article-intro__hashtags">
                    <a href="#" class="article-intro__hashtag">
                        #финансы
                    </a>
                    <a href="#" class="article-intro__hashtag">
                        #цод
                    </a>
                </div>
            </div>
            <h1 class="article-intro__main-heading">
                Сергей Попов, «АйТеко»: Рынок ищет возможность стабилизации за счет ИТ
            </h1>
            <div class="article-intro__date">
                28 апреля 2020
            </div>

        </div>
    </div>
</section>



<section class="article-content">
    <div class="container">
        <div class="inner-container">
            <div class="default-content article-content__wrapper">


                <p>
                    <big>
                        И во время пандемии, и на этапе выхода из карантина многие предприятия искали возможность
                        преодоления вставших перед ними вызовов. Отечественные ИТ-компании предлагали самые разные
                        инструменты. Рынок при этом обращал внимание как на отдельные решения, так и на комплексные
                        варианты.
                    </big>
                </p>

                <figure>
                    <img src="img/article/1.jpg" alt="">
                    <figcaption>
                        Концепция гибкого офиса позволяет сократить количество присутствующих в офисе сотрудников до
                        необходимого уровня, площадь аренды офисных помещений и связанные с этим операционные расходы
                    </figcaption>
                </figure>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
                <blockquote>
                    <p>
                        Мы понимаем значимость здорового корпоративного духа, благоприятной атмосферы в коллективе и
                        поэтому стараемся всячески поддерживать
                        теплые дружеские отношения в команде.
                    </p>
                </blockquote>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.

                </p>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
                <h3>
                    CNews: Чем «АйТеко» может помочь своим клиентам в перестройке процессов?
                </h3>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>

                <div class="solution-text-block__video-simple">
                    <a href="#" class="solution-text-block__video-simple-image-container">
                        <img src="img/solution/text-block-video.jpg" alt=""
                            class="solution-text-block__video-simple-image">
                        <div class="solution-text-block__video-simple-arrow">
                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                <use xlink:href="#play"></use>
                            </svg>
                        </div>

                    </a>
                    <div class="solution-text-block__video-simple-description">
                        Онлайн-совещаний и кросс-платформенного решения «Дистанция»
                    </div>
                </div>

                <h3>
                    CNews: Чем «АйТеко» может помочь своим клиентам в перестройке процессов?
                </h3>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>

                <h3>
                    CNews: Чем «АйТеко» может помочь своим клиентам в перестройке процессов?
                </h3>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>

                <div class="article-content__gallery js-article-gallery">
                    <h3 class="article-content__gallery-heading">
                        Фото с мероприятий
                    </h3>
                    <div class="article-content__gallery-main-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">


                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <div class="article-content__gallery-main-slider-card-play-btn">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </div>

                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <div class="article-content__gallery-main-slider-card-play-btn">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </div>

                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <div class="article-content__gallery-main-slider-card-play-btn">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </div>

                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article-content__gallery-main-slider-card">
                                        <img src="img/gallery.jpg" alt=""
                                            class="article-content__gallery-main-slider-card-image">
                                        <h4 class="article-content__gallery-main-slider-card-title">Онлайн-совещаний и
                                            кросс-платформенного решения «Дистанция»</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="article-content__gallery-arrows">
                            <button class="article-content__gallery-arrow article-content__gallery-arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="article-content__gallery-arrow article-content__gallery-arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="article-content__gallery-thumbs-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">

                                            <div class="article-content__gallery-thumbs-slider-card-play-btn">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">

                                            <div class="article-content__gallery-thumbs-slider-card-play-btn">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">

                                            <div class="article-content__gallery-thumbs-slider-card-play-btn">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="article-content__gallery-thumbs-slider-card">
                                        <div class="article-content__gallery-thumbs-slider-card-image-container">


                                            <img src="img/gallery.jpg" alt=""
                                                class="article-content__gallery-thumbs-slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>
                    CNews: Чем «АйТеко» может помочь своим клиентам в перестройке процессов?
                </h3>
                <p>
                    Сергей Попов: «АйТеко» давно работает на ИТ-рынке — 23 года. За это время накоплен огромный
                    проектный опыт, сформирован стек инновационных технологий, на базе которого родились наши
                    собственные продукты и сервисы. Мы хорошо понимаем боли и задачи компаний, оказавшихся в непростой
                    экономической ситуации, и предлагаем заказчикам набор ИТ-инструментов для стабилизации бизнеса,
                    преодоления кризиса и создания основы для будущего развития.
                </p>
            </div>
            <div class="article-content__footer">
                <div class="article-content__footer-sharing">
                    <h4 class="article-content__footer-sharing-heading">
                        Поделиться:
                    </h4>


                    <ul class="article-content__footer-sharing-list">
                        <li class="article-content__footer-sharing-list-item">
                            <a href="#" class="article-content__footer-sharing-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article-content__footer-sharing-list-item">
                            <a href="#" class="article-content__footer-sharing-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-twitter">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article-content__footer-sharing-list-item">


                            <a href="#" class="article-content__footer-sharing-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article-content__footer-sharing-list-item">
                            <a href="#" class="article-content__footer-sharing-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="article-content__footer-sharing-list-item">
                            <a href="#" class="article-content__footer-sharing-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article-content__footer-author">
                    Беседу провела член‑корреспондент Дина Мусина
                </div>
            </div>
        </div>
    </div>
</section>

<section class="publications-slider js-publications-slider">
    <div class="container">
        <div class="inner-container">
            <div class="publications-slider__row">
                <div class="publications-slider__left-col">
                    <h2 class="publications-slider__small-heading">
                        Другие новости
                    </h2>

                    <div class="publications-slider__arrows">
                        <button class="publications-slider__arrow publications-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="publications-slider__arrow publications-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="publications-slider__right-col">
                    <div class="publications-slider__wrapper">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            Сергей Гавренков возглавил направление комплексных инфраструктурных
                                            и инжиниринговых проектов ГК «АйТеко»
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            Сергей Гавренков возглавил направление комплексных инфраструктурных
                                            и инжиниринговых проектов ГК «АйТеко»
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            Сергей Гавренков возглавил направление комплексных инфраструктурных
                                            и инжиниринговых проектов ГК «АйТеко»
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            Сергей Гавренков возглавил направление комплексных инфраструктурных
                                            и инжиниринговых проектов ГК «АйТеко»
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}