{{#extend "layout"}}
{{#content "main"}}


<section class="contacts">
    <div class="container">
        <div class="inner-container">
            <div class="contacts__top-row">
                <div class="contacts__breadcrumbs">
                    <a href="#">
                        Главная
                    </a><br> / <a href="#">
                        Контакты
                    </a>
                </div>

                <h1 class="contacts__main-heading">
                    Контакты
                </h1>
            </div>

            <div class="contacts__map-block js-contacts-map">
                <script>
                    const offices = [
                        {
                            id: 1,
                            coords: [55.683508, 37.573968]
                        },
                        {
                            id: 2,
                            coords: [55.673905, 37.559541]
                        },
                        {
                            id: 3,
                            coords: [55.682717, 37.565237]
                        }
                    ];
                </script>
                <div class="contacts__map">

                </div>
                <form class="contacts__map-offices" method="GET" action="/">
                    <div class="contacts__map-offices-scroll-wrapper">
                        <ul class="contacts__map-offices-list">
                            <li class="contacts__map-offices-list-item">
                                <label class="contacts__map-offices-checkbox">
                                    <input type="radio" name="office" value="1"
                                        class="contacts__map-offices-checkbox-input" checked>
                                    <span class="contacts__map-offices-checkbox-top-row">
                                        <span class="contacts__map-offices-checkbox-mark">

                                        </span>
                                        <span class="contacts__map-offices-checkbox-name">
                                            Головной офис
                                        </span>
                                    </span>
                                    <span class="contacts__map-offices-checkbox-info">
                                        <a href="tel:+7 (495) 777-10-95" class="contacts__map-offices-checkbox-phone">+7
                                            (495) 777-10-95</a>
                                        <span class="contacts__map-offices-checkbox-address">
                                            117036, г. Москва, ул. Кедрова, 15<br>
                                            Факс: +7 (495) 777-10-96<br>
                                            E-mail:
                                            <a href="mailto:income@i-teco.ru">
                                                income@i-teco.ru
                                            </a>

                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="contacts__map-offices-list-item">
                                <label class="contacts__map-offices-checkbox">
                                    <input type="radio" name="office" value="2"
                                        class="contacts__map-offices-checkbox-input">
                                    <span class="contacts__map-offices-checkbox-top-row">
                                        <span class="contacts__map-offices-checkbox-mark">

                                        </span>
                                        <span class="contacts__map-offices-checkbox-name">
                                            Офис на ул. Профсоюзная
                                        </span>
                                    </span>
                                    <span class="contacts__map-offices-checkbox-info">

                                        <span class="contacts__map-offices-checkbox-address">
                                            117418, г. Москва,
                                            ул. Профсоюзная, 27, корп. 2
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li class="contacts__map-offices-list-item">
                                <label class="contacts__map-offices-checkbox">
                                    <input type="radio" name="office" value="3"
                                        class="contacts__map-offices-checkbox-input">
                                    <span class="contacts__map-offices-checkbox-top-row">
                                        <span class="contacts__map-offices-checkbox-mark">

                                        </span>
                                        <span class="contacts__map-offices-checkbox-name">
                                            Офис на ул. Кржижановского
                                        </span>
                                    </span>
                                    <span class="contacts__map-offices-checkbox-info">

                                        <span class="contacts__map-offices-checkbox-address">
                                            117292, г. Москва,
                                            ул. Кржижановского, 7, корп. 2
                                        </span>
                                    </span>
                                </label>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>

            <div class="contacts__offices">
                <div class="contacts__offices-block">
                    <h3 class="contacts__offices-block-heading">
                        Региональные<br>подразделения
                    </h3>
                    <div class="contacts__offices-block-info">
                        <ul class="contacts__offices-list">
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Санкт-Петербург
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        197342, г. Санкт-Петербург,
                                        Ушаковская набережная, 5
                                        Телефон: +7 (812) 922 5201​​
                                        E-mail: <a href="mailto:dragni@i-teco.ru">dragni@i-teco.ru</a>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Нижний Новгород
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        ул. Родионова, 23
                                        Телефон: +7 (831) 467-80-84
                                        E-mail: <a href="mailto:info_nnov@i-teco.ru">
                                            info_nnov@i-teco.ru
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Татарстан
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        г. Казань, ул. Н. Ершова, 1а
                                        Телефон: +7 (843) 279-34-39
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts__offices-block">
                    <h3 class="contacts__offices-block-heading">
                        Сервисные<br> подразделения
                    </h3>
                    <div class="contacts__offices-block-info">
                        <ul class="contacts__offices-list">
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Единый телефон поддержки для клиентов АйТеко
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Телефон: 8 800 200-10-95 (звонки из регионов — бесплатно)
                                        E-mail: support@i-teco.ru
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Ростов-на-Дону
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Ростов-на-Дону, пр. Космонавтов, 2/2, литер «В», офис 516
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Ярославль
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        150054, Ярославль, пр-т Ленина, 44, офис 305
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Красноярск
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">

                                        660028, Красноярск, ул. Телевизорная, 1, стр. 14
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Иркутск


                                    </h4>
                                    <div class="default-content contacts__offices-card-address">

                                        Иркутск, ул. Декабрьских Событий, 125, офис 402
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Санкт-Петербург


                                    </h4>
                                    <div class="default-content contacts__offices-card-address">

                                        Санкт-Петербург, пр. Стачек, 47, корп. 2, лит. «А»
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Пермь
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        614000, Пермь, ул. Кирова, 37, офис 410
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Воронеж
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Воронеж, ул. Беговая, 209
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Нижний Новгород
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Нижний Новгород,
                                        ул. Монастырка, 1В
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Норильск
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Норильск, ул. Орджоникидзе, 20/14
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Новосибирск
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Новосибирск, ул. Добролюбова, 16
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Екатеринбург
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Екатеринбург,
                                        ул. Горького, 63, офис 501
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Сочи
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Сочи, ул. Ленина, 2
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Саранск
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Саранск,
                                        ул. Васенко, 15А
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__offices-list-item">
                                <div class="contacts__offices-card">
                                    <h4 class="contacts__offices-card-title">
                                        Тюменская область
                                    </h4>
                                    <div class="default-content contacts__offices-card-address">
                                        Тюменская область, Ханты-Мансийский автономный округ-Югра, Нижневартовский
                                        район, поселок Излучинск, Промзона, Нижневартовская ГРЭС
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}