{{#extend "layout"}}
{{#content "main"}}


<section class="event-intro event-intro--no-bg event-intro--dark">
    <div class="container">
        <div class="inner-container">
            <div class="event-intro__content">
                
                <div class="event-intro__logos">
                    <a href="#" class="event-intro__logo">
                        <img src="img/net-app-dark.png" alt="" class="event-intro__logo-image">
                    </a>
                    <a href="#" class="event-intro__logo">
                        <img src="img/logo-dark.svg" alt="" class="event-intro__logo-image">
                    </a>
                </div>
                <div class="event-intro__info">
                    <h1 class="event-intro__heading">
                        Защита данных без компромиссов. Технологии NetApp и сервисы АйТеко
                    </h1>
                    <div class="event-intro__info-details">
                        <div class="event-intro__date">
                            <div class="event-intro__date-day">
                                11
                            </div>
                            <div class="event-intro__date-month-time">
                                <div class="event-intro__date-month">
                                    марта
                                </div>
                                <div class="event-intro__date-time">
                                    11:00
                                </div>
                            </div>
                        </div>
                        <div class="event-intro__countdown js-event-countdown"
                            data-countdown-date="Oct 5, 2021 15:37:25">
                            <div class="event-intro__countdown-text">
                                До мероприятия осталось
                            </div>
                            <div class="event-intro__countdown-element">

                            </div>
                        </div>
                        <div class="event-intro__address">
                            <div class="event-intro__address-text">
                                где?
                            </div>
                            <div class="event-intro__address-info">
                                <div class="event-intro__address-city">
                                    Москва
                                </div>
                                <div class="event-intro__address-street">
                                    ул. Кедрова, 15/1
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a href="#registration-modal" class="event-intro__btn js-open-modal">
                    Регистрация
                </a>
            </div>
        </div>
    </div>
</section>


<section class="event-system">
    <div class="container">
        <div class="inner-container">
            <div class="event-system__top-text">
                <p>
                    Современная система хранения данных должна не только предоставлять пространство для записи и чтения
                    данных,<br>
                    но и обеспечивать их защиту
                </p>
            </div>
            <div class="event-system__row">
                <div class="event-system__col">
                    <div class="event-system__left-text">
                        <p>
                            Современная система хранения данных должна
                            не только предоставлять пространство для записи
                            и чтения данных, но и обеспечивать их защиту:
                        </p>
                    </div>

                </div>
                <div class="event-system__col">
                    <ul>
                        <li>
                            Высокозатратное и длительное резервное копирование данных

                        </li>
                        <li>
                            Сложность в расчете времени восстановления работоспособности в случае нештатной ситуации

                        </li>
                        <li>
                            Уязвимость инфраструктуры перед шифровальщиками
                        </li>
                        <li>
                            Ошибки в настройке прав доступа ведут к утечке данных и критическим потерям для бизнеса
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="protection protection--dark">
    <div class="container">
        <div class="inner-container">
            <div class="protection__card">
                <div class="protection__card-text">
                    <p>
                        5 современных проблем защиты данных и пути их решения от NetApp
                    </p>
                </div>
                <a href="#" class="protection__card-download">
                    Скачать<br> pdf
                </a>
            </div>
        </div>
    </div>
</section>


<section class="speakers js-speakers">
    <div class="container">
        <div class="inner-container">
            <div class="speakers__top-row">
                <h2 class="speakers__heading">
                    Спикеры
                </h2>
                <div class="speakers__arrows">
                    <button class="speakers__arrow speakers__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="speakers__arrow speakers__arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="speakers__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/1.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Антон Синский
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «NetApp и&nbsp;технологии управления данными»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Менеджер по развитию бизнеса, NetApp
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/2.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Сергей Мазниченко
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «Насущные проблемы защиты данных
                                        и&nbsp;пути их решения»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Tехнический менеджер, NetApp
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/3.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Максим Попов
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «Опыт АйТеко в&nbsp;построении защищенных
                                        и&nbsp;отказоустойчивых решений...
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Руководитель отдела вычислительных комплексов Технической дирекции АйТеко
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/4.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Антон Синский
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «NetApp и&nbsp;технологии управления данными»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Менеджер по развитию бизнеса, NetApp
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/1.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Антон Синский
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «NetApp и&nbsp;технологии управления данными»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Менеджер по развитию бизнеса, NetApp
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/2.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Сергей Мазниченко
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «Насущные проблемы защиты данных
                                        и пути их решения»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Tехнический менеджер, NetApp
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/3.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Максим Попов
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «Опыт АйТеко в построении защищенных
                                        и отказоустойчивых решений...
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Руководитель отдела вычислительных комплексов Технической дирекции АйТеко
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="speakers__slider-card">
                                <div class="speakers__slider-card-image-container">
                                    <img src="img/speakers/4.jpg" alt="" class="speakers__slider-card-image">
                                </div>
                                <h4 class="speakers__slider-card-title">
                                    Антон Синский
                                </h4>
                                <div class="speakers__slider-card-text">
                                    <p>
                                        «NetApp и технологии управления данными»
                                    </p>
                                </div>
                                <div class="speakers__slider-card-role">
                                    Менеджер по развитию бизнеса, NetApp
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="technologies technologies--dark">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="technologies__card js-open-modal">
                <div class="technologies__card-content">
                    <h2 class="technologies__card-title">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="technologies__card-text">
                        <p>
                            Узнайте, как технологии NetApp защитят ваши данные от повреждения, катастроф, вирусов и
                            внешних угроз
                        </p>
                    </div>
                </div>
                <div class="technologies__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="notes">
    <div class="container">
        <div class="inner-container">
            <h2 class="notes__heading">
                Справки о компаниях
            </h2>
            <ul class="notes__list">
                <li class="notes__list-item">
                    <a href="#" class="notes__card">
                        <div class="notes__card-icon-container">
                            <img src="img/logo-dark.svg" alt="" class="notes__card-icon">
                        </div>
                        <h4 class="notes__card-title">
                            АйТеко развивает профильную технологическую экспертизу NetApp
                        </h4>
                        <div class="notes__card-text">
                            <p>
                                с 2005 года и обладает статусом NetApp Platinum Partner, компетенциями NetApp Support
                                Services Certified Partner и NetApp Professional Services Certified Partner,
                                специализацией NetApp Cloud Service Provider для предоставления облачных сервисов на
                                базе передовых технологий вендора. АйТеко отмечена уникальной международной наградой
                                Excellence in Ensuring Customer Success и рядом партнерских наград за лучшие результаты
                                и проекты года.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="notes__list-item">
                    <a href="#" class="notes__card">
                        <div class="notes__card-icon-container">
                            <img src="img/net-app-dark.png" alt="" class="notes__card-icon">
                        </div>
                        <h4 class="notes__card-title">
                            NetApp — мировой лидер в области хранения данных
                        </h4>
                        <div class="notes__card-text">
                            <p>
                                Вот уже 28 лет компания двигает вперед индустрию хранения данных и предлагает решения
                                для проактивного мониторинга СХД
                                и обеспечения безопасности данных в ваших системах.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="registration">
    <div class="container">
        <div class="inner-container">
            <a href="#registration-modal" class="registration__card js-open-modal">
                <div class="registration__card-content">
                    <h2 class="registration__card-heading">
                        Регистрация
                    </h2>
                    <div class="registration__card-text">
                        <p>
                            Зарегистрируйтесь и выиграйте бесплатное обследование инфраструктуры хранения<br> данных от
                            АйТеко!

                        </p>
                    </div>
                </div>
                <div class="registration__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}