{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro">
    <div class="intro__bg">

    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__pane">


                <div class="intro__items-row">
                    <div class="intro__items-left-col">
                        <h3 class="intro__items-heading">
                            Услуги <br>
                            и решения
                        </h3>
                        {{!-- <a href="#" class="intro__learn-more">
                            Подробнее
                        </a> --}}
                    </div>
                    <div class="intro__items-right-col">
                        <ul class="intro__items">
                            <li class="intro__item">
                                <div class="intro__item-card" id="communication-card">
                                    <div class="intro__item-card-ring">
                                        {{> hoop }}
                                    </div>
                                    <div class="intro__item-card-content">
                                        <h3 class="intro__item-card-title">
                                            <a href="#" class="intro__item-card-title-link">
                                                ИТ-инфра&shy;структура и<br> телекоммуника&shy;ционные решения
                                            </a>
                                        </h3>
                                        <ul class="intro__item-card-services-list">
                                            <li class="intro__item-card-services-list-item">
                                                Вычислительная инфраструктура
                                            </li>
                                            <li class="intro__item-card-services-list-item">
                                                Офисная печать
                                            </li>
                                            <li class="intro__item-card-services-list-item">
                                                Телекоммуникационные решения
                                            </li>
                                            <li class="intro__item-card-services-list-item">
                                                Управление ИТ-инфраструктурой
                                            </li>
                                            <li class="intro__item-card-services-list-item">
                                                Производство оборудования
                                            </li>
                                        </ul>
                                        <div class="intro__item-card-products">
                                            <h4 class="intro__item-card-products-heading">
                                                флагманские продукты
                                            </h4>
                                            <ul class="intro__item-card-products-list">
                                                <li class="intro__item-card-products-list-item">
                                                    <a href="#" class="intro__item-card-products-card">
                                                        <h5 class="intro__item-card-products-card-title">
                                                            СХД
                                                        </h5>
                                                        <div class="intro__item-card-products-card-tags">
                                                            <div class="intro__item-card-products-card-tag">
                                                                #стартапы
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="intro__item-card-products-list-item">
                                                    <a href="#" class="intro__item-card-products-card">
                                                        <h5 class="intro__item-card-products-card-title">
                                                            Дистанция — удаленные рабочие места
                                                        </h5>
                                                        <div class="intro__item-card-products-card-tags">
                                                            <div class="intro__item-card-products-card-tag">
                                                                #разработка
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="intro__item-card-products-list-item">
                                                    <a href="#" class="intro__item-card-products-card">
                                                        <h5 class="intro__item-card-products-card-title">
                                                            РУСТЭК — защищенная платформа виртуализации
                                                        </h5>
                                                        <div class="intro__item-card-products-card-tags">
                                                            <div class="intro__item-card-products-card-tag">
                                                                #блокчейн
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="intro__item-card-products-list-item">
                                                    <a href="#" class="intro__item-card-products-card">
                                                        <h5 class="intro__item-card-products-card-title">
                                                            Система управления печатью Принт-Икс
                                                        </h5>
                                                        <div class="intro__item-card-products-card-tags">
                                                            <div class="intro__item-card-products-card-tag">
                                                                #блокчейн
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="intro__item-card-products-list-item">
                                                    <a href="#" class="intro__item-card-products-card">
                                                        <h5 class="intro__item-card-products-card-title">
                                                            Унифицированные коммуникации
                                                        </h5>
                                                        <div class="intro__item-card-products-card-tags">
                                                            <div class="intro__item-card-products-card-tag">
                                                                #разработка
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="intro__item-card-hover-area">

                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="intro__slogan">
                    <div class="intro__slogan-text">
                        Ведущий российский системный интегратор
                    </div>
                    <a href="#" class="intro__slogan-details-link">
                        Подробнее
                    </a>
                </div>

                <div class="intro__news js-intro-news-tabs">
                    <div class="intro__news-tabs-nav">
                        <a href="#" class="intro__news-tabs-nav-link">
                            новости
                        </a>
                        <a href="#" class="intro__news-tabs-nav-link">
                            мероприятия
                        </a>
                    </div>
                    <div class="intro__news-tabs-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul class="intro__news-list">
                                        <li class="intro__news-list-item">
                                            <a href="#" class="intro__news-card">
                                                <h4 class="intro__news-card-title">
                                                    Насколько могут вырасти ваши показатели продаж с решениями HPE +
                                                    Veeam и
                                                    UserGate (NGFW)
                                                </h4>

                                                <time datetime="2021-08-20" class="intro__news-card-time">20
                                                    августа</time>
                                            </a>
                                        </li>
                                        <li class="intro__news-list-item">
                                            <a href="#" class="intro__news-card">
                                                <h4 class="intro__news-card-title">
                                                    Онлайн-семинар Wi-Fi 6 — миф и реальность
                                                </h4>

                                                <time datetime="2021-08-20" class="intro__news-card-time">20
                                                    августа</time>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="intro__news-all-news">
                                        Все новости

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <ul class="intro__news-list">
                                        <li class="intro__news-list-item">
                                            <a href="#" class="intro__news-card">
                                                <h4 class="intro__news-card-title">
                                                    Насколько могут вырасти ваши показатели продаж с решениями HPE +
                                                    Veeam и
                                                    UserGate (NGFW)
                                                </h4>

                                                <time datetime="2021-08-20" class="intro__news-card-time">20
                                                    августа</time>
                                            </a>
                                        </li>

                                    </ul>
                                    <a href="#" class="intro__news-all-news">
                                        Все мероприятия

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__controls">
                <a href="#" class="intro__controls-btn js-chaos-view">
                    <svg width="14" height="14" aria-hidden="true" class="icon-grid-view">
                        <use xlink:href="#grid-view"></use>
                    </svg>
                </a>
                <a href="#" class="intro__controls-btn js-ordered-view">
                    <svg width="14" height="14" aria-hidden="true" class="icon-list-view">
                        <use xlink:href="#list-view"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about-company">
    <div class="container">
        <h2 class="about-company__heading">
            О компании
        </h2>
        <div class="about-company__top-row">
            <div class="about-company__intro-text">
                <p>
                    Создаем ценность для организаций через инновации, опираясь на доверие, опыт и технологии
                </p>
            </div>
            <div class="about-company__full-text">
                <p>
                    Работаем в сфере строительства ИТ- и инженерной инфраструктуры, консалтинга и разработки,
                    комплексной безопасности, аутсорсинга и развития
                    стартапов.
                </p>
                <p>
                    Группа компаний «АйТеко» объединяет лучшую экспертизу и развивает такие передовые
                    направления, как: большие данные, облачные технологии, искусственный интеллект,
                    интегрированные коммуникации,заказная разработка ПО, блокчейн, строительство с
                    применением информационного моделирования зданий (BIM), сети пятого поколения, также
                    занимается акселерацией стартапов.
                </p>
                <p>
                    «АйТеко» работает на ИТ-рынке с 1997 года, сохраняя стабильные темпы роста на протяжении
                    всего времени своего существования. Оборот «АйТеко» по итогам 2019 года составил 36,34 млрд
                    рублей.
                </p>
            </div>
            <ul class="about-company__features">
                <li class="about-company__features-item">
                    <div class="about-company__features-card">
                        <div class="about-company__features-card-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-compass">
                                <use xlink:href="#compass"></use>
                            </svg>
                        </div>

                        <div class="about-company__features-card-text">
                            <p>
                                ИТ-аутсорсинг, управленческий консалтинг, системы связи и энергетики, BIM-
                                проектирование, успешно развивают дочерние компании в структуре группы компаний
                                «АйТеко».
                            </p>
                        </div>
                    </div>
                </li>
                <li class="about-company__features-item">
                    <div class="about-company__features-card">
                        <div class="about-company__features-card-icon">


                            <svg width="14" height="14" aria-hidden="true" class="icon-handshake">
                                <use xlink:href="#handshake"></use>
                            </svg>
                        </div>
                        <div class="about-company__features-card-text">
                            <p>
                                Партнерская сеть «АйТеко» объединяет более 180 компаний в 85 регионах России —
                                от Калининграда до Петропавловска- Камчатского.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="about-company__bottom-row">
            <ul class="about-company__numbers">
                <li class="about-company__numbers-item">
                    <div class="about-company__numbers-card">
                        <div class="about-company__numbers-card-number">
                            2900+
                        </div>
                        <div class="about-company__numbers-card-text">
                            Сертификатов
                        </div>
                    </div>
                </li>
                <li class="about-company__numbers-item">
                    <div class="about-company__numbers-card">
                        <div class="about-company__numbers-card-number">
                            1997
                        </div>
                        <div class="about-company__numbers-card-text">
                            Год основания компании
                        </div>
                    </div>
                </li>
                <li class="about-company__numbers-item">
                    <div class="about-company__numbers-card">
                        <div class="about-company__numbers-card-number">
                            3200+
                        </div>
                        <div class="about-company__numbers-card-text">
                            Сотрудников в штате
                        </div>
                    </div>
                </li>
                <li class="about-company__numbers-item">
                    <div class="about-company__numbers-card">
                        <div class="about-company__numbers-card-number">
                            20
                        </div>
                        <div class="about-company__numbers-card-text">
                            Собственных проектов
                        </div>
                    </div>
                </li>
                <li class="about-company__numbers-item">
                    <div class="about-company__numbers-card">
                        <div class="about-company__numbers-card-number">
                            85
                        </div>
                        <div class="about-company__numbers-card-text">
                            Все субъекты РФ
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="about-company__page-link">
                <div class="about-company__page-link-bar"></div>
                О компании

                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="awards">
    {{> awards-megahoop }}
    <div class="container">
        <h2 class="awards__heading">
            <a href="#" class="awards__heading-link">
                Признание

                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>

        </h2>
        <div class="awards__top-row">
            <ul class="awards__items">
                <li class="awards__item">
                    <div class="awards__item-card">
                        <div class="awards__item-card-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-award">
                                <use xlink:href="#award"></use>
                            </svg>
                        </div>
                        <div class="awards__item-card-text">
                            <p>
                                За годы работы компания «Ай-Теко» удостаивалась многих почетных наград и дипломов.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="awards__item">
                    <div class="awards__item-card">
                        <div class="awards__item-card-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-crowd">
                                <use xlink:href="#crowd"></use>
                            </svg>
                        </div>
                        <div class="awards__item-card-text">
                            <p>
                                Присвоенные звания подчеркивают высокое качество комплексных решений компании
                                и профессионализм команды специалистов.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="awards__intro-text">
                <p>
                    Входим в перечень системо- образующих организаций российской экономики в сфере информации и связи
                </p>
            </div>
        </div>
        <ul class="awards__numbers">
            <li class="awards__numbers-item">
                <div class="awards__numbers-card">
                    <div class="awards__numbers-card-digit">
                        <div class="awards__numbers-card-digit-text">
                            Топ
                        </div>
                        <div class="awards__numbers-card-digit-number">
                            5
                        </div>
                    </div>
                    <ul class="awards__categories-list">
                        <li class="awards__categories-list-item">
                            <a href="#" class="awards__categories-card">
                                <h4 class="awards__categories-card-title">
                                    ИТ-компаний России
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </h4>
                                <div class="awards__categories-card-text">
                                    RAEX/Эксперт РА
                                </div>
                            </a>
                        </li>
                        <li class="awards__categories-list-item">
                            <a href="#" class="awards__categories-card">
                                <h4 class="awards__categories-card-title">
                                    Поставщиков ИТ-услуг России
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </h4>
                                <div class="awards__categories-card-text">
                                    RAEX/Эксперт РА, IDC, Tadviser
                                </div>
                            </a>
                        </li>
                        <li class="awards__categories-list-item">
                            <a href="#" class="awards__categories-card">
                                <h4 class="awards__categories-card-title">
                                    Разработчиков ПО
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </h4>
                                <div class="awards__categories-card-text">
                                    RAEX/Эксперт РА, IDC, Tadviser
                                </div>
                            </a>
                        </li>
                        <li class="awards__categories-list-item">
                            <a href="#" class="awards__categories-card">
                                <h4 class="awards__categories-card-title">
                                    Системных интеграторов России в сфере построения ИТ-инфраструктуры
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </h4>
                                <div class="awards__categories-card-text">
                                    CNews
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>
            <li class="awards__numbers-item">
                {{> awards-hoop }}
                <div class="awards__numbers-card">
                    <div class="awards__numbers-card-digit">
                        <div class="awards__numbers-card-digit-text">
                            Топ
                        </div>
                        <div class="awards__numbers-card-digit-number">
                            500
                        </div>
                    </div>


                    <ul class="awards__categories-list">
                        <li class="awards__categories-list-item awards__categories-list-item--fullwidth">
                            <a href="#" class="awards__categories-card">
                                <h4 class="awards__categories-card-title">
                                    Поставщиков ИТ для операторов связи и промышленных предприятий
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </h4>
                                <div class="awards__categories-card-text">
                                    RAEX
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

            </li>
        </ul>
    </div>
</section>


<section class="success-stories js-success-stories">
    <div class="container">
        <h2 class="success-stories__heading">
            Истории успеха
        </h2>

        <div class="success-stories__slider">
            <div class="success-stories__slider-top-panel">


                <div class="success-stories__slider-nav">
                    <a href="#" class="success-stories__slider-nav-link active">
                        Все направления
                    </a>
                    <a href="#" class="success-stories__slider-nav-link">
                        Образование
                    </a>
                    <a href="#" class="success-stories__slider-nav-link">
                        Торговля
                    </a>
                    <a href="#" class="success-stories__slider-nav-link">
                        ИТ, телекоммуникации
                    </a>
                    <a href="#" class="success-stories__slider-nav-link">
                        Нефтегаз
                    </a>
                    <a href="#" class="success-stories__slider-nav-link">
                        Промышленность
                    </a>
                </div>
            </div>
            <div class="success-stories__slider-main">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="success-stories__slider-main-card">
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/2.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                            «Почты России»
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/3.svg" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Образование
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Внедрение в ВТБ систему сбора биометрических данных
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="success-stories__slider-subcard">
                                    <div class="success-stories__slider-subcard-icon-container">
                                        <img src="img/success-stories/1.png" alt=""
                                            class="success-stories__slider-subcard-icon">
                                    </div>
                                    <div class="success-stories__slider-subcard-content">
                                        <div class="success-stories__slider-subcard-category">
                                            Торговля
                                        </div>
                                        <div class="success-stories__slider-subcard-text">
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="success-stories__slider-bottom-panel">
                <div class="success-stories__slider-detail-links">
                    <a href="#" class="success-stories__slider-detail-link">
                        Показать еще

                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                    <a href="#" class="success-stories__slider-detail-link">
                        Смотреть все проекты

                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}