{{#extend "layout"}}
{{#content "main"}}


<section class="intro js-intro">
    <div class="intro__bg">

    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__pane">
                <div class="intro__cards-wrapper">
                    <div class="intro__cards">
                        <div class="intro__cards-sector">
                            <div class="intro__card">
                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-4.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        Консалтинг и бизнес-приложения

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Бизнес-приложения
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Консалтинг
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Системы управления знаниями
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Системы статистической отчетности
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        АИС Правовой деятельности
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intro__cards-sector">

                            <div class="intro__card">


                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-2.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        Инженерные системы и управление строительством

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">

                                                <a href="#" class="intro__card-features-link">
                                                    # Инженерные системы
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Управление строительством
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Строительство и сертификация ЦОД «под ключ»
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Строительство и сертификация ЦОД «под ключ»
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="intro__cards-sector">

                            <div class="intro__card">
                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-3.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        ИТ-инфраструктура и теле-коммуника&shy;ционные решения

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Вычислительная инфраструктура
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Офисная печать
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Телекоммуникационные решения
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Управление ИТ-инфраструктурой
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Производство оборудования
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        СХД
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Дистанция — удаленные рабочие места
                                                    </a>
                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        РУСТЭК — защищенная платформа виртуализации
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="intro__cards-sector">

                            <div class="intro__card">


                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-1.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        Разработка ПО<br> и стартапы

                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Блокчейн
                                                </a>

                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Большие данные
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Видеоаналитика
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Искусственный интеллект
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Прикладное ПО
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">


                                                <a href="#" class="intro__card-features-link">
                                                    # Стартапы для бизнеса
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        «Цифровой Алфавит» — управление большими данными
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Vmx Qualex — учет
                                                        и паспортизации продукции
                                                    </a>
                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Vmx Dequs — дефектоскопия и контроль качества
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="intro__cards-sector">

                            <div class="intro__card">
                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-5.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        Комплексная безопасность
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Блокчейн
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Большие данные
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Видеоаналитика
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Искусственный интеллект
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Прикладное ПО
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Стартапы для бизнеса
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Система идентификации классифицированных групп (Sport ID)
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        GDPR
                                                    </a>
                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Система контроля доступа и оплаты питания в образовательных
                                                        учреждениях "Новая школа"
                                                    </a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                        <div class="intro__cards-sector">

                            <div class="intro__card">
                                <picture>
                                    <source srcset="img/intro/mobile-hoop.png" media="(max-width: 640px)">
                                    <img src="img/intro/hoop-6.png" class="intro__card-ring">
                                </picture>
                                <div class="intro__card-content">
                                    <a href="#" class="intro__card-title">
                                        Аутсорсинг,
                                        сервисные услуги
                                        и IaaS
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </a>
                                    <div class="intro__card-features">
                                        <ul class="intro__card-features-list">
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Аутсорсинг поддержки ИТ-инфраструктуры и приложений
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Облачные сервисы
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Сервисный консалтинг
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Услуги дата-центра
                                                </a>
                                            </li>
                                            <li class="intro__card-features-list-item">
                                                <a href="#" class="intro__card-features-link">
                                                    # Услуги контакт-центра
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="intro__card-flagship-products">
                                            <h3 class="intro__card-flagship-products-heading">
                                                флагманские продукты
                                            </h3>
                                            <ul class="intro__card-flagship-products-list">
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Техническая поддержка
                                                    </a>

                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Бизнес Клауд — сервис публич&shy;ного облака
                                                    </a>
                                                </li>
                                                <li class="intro__card-flagship-products-list-item">
                                                    <a href="#" class="intro__card-flagship-products-link">
                                                        Бизнес Клауд — сервис публич&shy;ного облака
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="intro__heading-block">
                    <h1 class="intro__heading">Ведущий российский<br> системный интегратор
                    </h1>
                    <a href="#" class="intro__heading-block-details-link">
                        Подробнее
                    </a>
                </div>

            </div>

            <div class="intro__news js-intro-news-tabs">
                <div class="inner-container">


                    <div class="intro__news-row">


                        <div class="intro__news-tabs-nav">
                            <a href="#" class="intro__news-tabs-nav-link">
                                новости
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                            <a href="#" class="intro__news-tabs-nav-link">
                                мероприятия
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="intro__news-tabs-items">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <ul class="intro__news-list">
                                            <li class="intro__news-list-item">
                                                <a href="#" class="intro__news-card">
                                                    <div class="intro__news-card-date">
                                                        20/09
                                                    </div>
                                                    <div class="intro__news-card-content">
                                                        <h4 class="intro__news-card-title">
                                                            Насколько могут вырасти ваши показатели продаж с решениями
                                                            HPE +
                                                            Veeam и
                                                            UserGate (NGFW)
                                                        </h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="intro__news-list-item">
                                                <a href="#" class="intro__news-card">
                                                    <div class="intro__news-card-date">
                                                        20/09
                                                    </div>
                                                    <div class="intro__news-card-content">
                                                        <h4 class="intro__news-card-title">
                                                            Онлайн-семинар Wi-Fi 6 — миф и реальность
                                                        </h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="intro__news-list-item">
                                                <a href="#" class="intro__news-card">
                                                    <div class="intro__news-card-date">
                                                        20/09
                                                    </div>
                                                    <div class="intro__news-card-content">
                                                        <h4 class="intro__news-card-title">
                                                            Насколько могут вырасти ваши показатели продаж с решениями
                                                            HPE +
                                                            Veeam и
                                                            UserGate (NGFW)
                                                        </h4>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="swiper-slide">
                                        <ul class="intro__news-list">
                                            <li class="intro__news-list-item">
                                                <a href="#" class="intro__news-card">
                                                    <div class="intro__news-card-date">
                                                        20/09
                                                    </div>
                                                    <div class="intro__news-card-content">
                                                        <h4 class="intro__news-card-title">
                                                            Насколько могут вырасти ваши показатели продаж с решениями
                                                            HPE +
                                                            Veeam и
                                                            UserGate (NGFW)
                                                        </h4>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="intro__news-list-item">
                                                <a href="#" class="intro__news-card">
                                                    <div class="intro__news-card-date">
                                                        20/09
                                                    </div>
                                                    <div class="intro__news-card-content">
                                                        <h4 class="intro__news-card-title">
                                                            Онлайн-семинар Wi-Fi 6 — миф и реальность
                                                        </h4>
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="intro__scroll-progress">
                <div class="intro__scroll-progress-bar-wrapper">
                    <div class="intro__scroll-progress-bar">

                    </div>
                </div>

            </div>
        </div>
    </div>

    {{!-- <div class="intro__controls">
        <a href="#" class="intro__controls-btn js-chaos-view">
            <svg width="14" height="14" aria-hidden="true" class="icon-grid-view">
                <use xlink:href="#grid-view"></use>
            </svg>
        </a>
        <a href="#" class="intro__controls-btn js-ordered-view">
            <svg width="14" height="14" aria-hidden="true" class="icon-list-view">
                <use xlink:href="#list-view"></use>
            </svg>
        </a>
    </div> --}}
</section>

<section class="about-company">
    <div class="container">
        <div class="inner-container">
            <h2 class="about-company__heading">
                О компании
            </h2>
            <div class="about-company__top-row">
                <div class="about-company__intro-text">
                    <p>
                        Создаем ценность для организаций через инновации, опираясь на доверие, опыт и технологии
                    </p>
                </div>
                <div class="about-company__full-text">
                    <p>
                        Работаем в сфере строительства ИТ- и инженерной инфраструктуры, консалтинга и разработки,
                        комплексной безопасности, аутсорсинга и развития
                        стартапов.
                    </p>
                    <p>
                        Группа компаний «АйТеко» объединяет лучшую экспертизу и развивает такие передовые
                        направления, как: большие данные, облачные технологии, искусственный интеллект,
                        интегрированные коммуникации,заказная разработка ПО, блокчейн, строительство с
                        применением информационного моделирования зданий (BIM), сети пятого поколения, также
                        занимается акселерацией стартапов.
                    </p>
                    <p>
                        «АйТеко» работает на ИТ-рынке с 1997 года, сохраняя стабильные темпы роста на протяжении
                        всего времени своего существования. Оборот «АйТеко» по итогам 2019 года составил 36,34 млрд
                        рублей.
                    </p>
                </div>
                <ul class="about-company__features">
                    <li class="about-company__features-item">
                        <div class="about-company__features-card">
                            <div class="about-company__features-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-compass">
                                    <use xlink:href="#compass"></use>
                                </svg>
                            </div>

                            <div class="about-company__features-card-text">
                                <p>
                                    Компания «АйТеко» — российский ИТ-интегратор. Входит в ТОП-500 крупнейших российских
                                    компаний, ТОП-10 крупнейших ИТ-компаний. Работает во всех субъектах РФ.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="about-company__features-item">
                        <div class="about-company__features-card">
                            <div class="about-company__features-card-icon">


                                <svg width="14" height="14" aria-hidden="true" class="icon-handshake">
                                    <use xlink:href="#handshake"></use>
                                </svg>
                            </div>
                            <div class="about-company__features-card-text">
                                <p>
                                    Нам доверяют государственные структуры, крупные корпорации из всех отраслей
                                    экономики. Работая на ИТ-рынке с 1997 года, мы создаем ценность для бизнеса через
                                    инновации, соединяя технологии, доверие и профессионализм.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about-company__bottom-row">
                <ul class="about-company__numbers">

                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                1997
                            </div>
                            <div class="about-company__numbers-card-text">
                                Год основания компании
                            </div>
                        </div>
                    </li>
                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                3000+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Сотрудников в штате
                            </div>
                        </div>
                    </li>
                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                20+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Собственных продуктов
                            </div>
                        </div>
                    </li>

                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                2900+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Сертификатов
                            </div>
                        </div>
                    </li>

                </ul>
                <a href="#" class="about-company__page-link">
                    <div class="about-company__page-link-bar"></div>
                    О компании

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="awards">
    {{> awards-megahoop }}
    <div class="container">
        <div class="inner-container">


            <h2 class="awards__heading">
                <a href="#" class="awards__heading-link">
                    Признание

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>

            </h2>
            <div class="awards__top-row">
                <ul class="awards__items">
                    <li class="awards__item">
                        <div class="awards__item-card">
                            <div class="awards__item-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-award">
                                    <use xlink:href="#award"></use>
                                </svg>
                            </div>
                            <div class="awards__item-card-text">
                                <p>
                                    За годы работы компания «Ай&#8209;Теко» удостаивалась многих почетных наград и
                                    дипломов.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="awards__item">
                        <div class="awards__item-card">
                            <div class="awards__item-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-crowd">
                                    <use xlink:href="#crowd"></use>
                                </svg>
                            </div>
                            <div class="awards__item-card-text">
                                <p>
                                    Присвоенные звания подчеркивают высокое качество комплексных решений компании
                                    и профессионализм команды специалистов.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="awards__intro-text">
                    <p>
                        Входим в перечень системообразующих организаций российской экономики в сфере информации и
                        связи
                    </p>
                </div>
            </div>
            <ul class="awards__numbers">
                <li class="awards__numbers-item">
                    <div class="awards__numbers-card">
                        <div class="awards__numbers-card-digit">
                            <div class="awards__numbers-card-digit-text">
                                Топ
                            </div>
                            <div class="awards__numbers-card-digit-number">
                                5
                            </div>
                        </div>
                        <ul class="awards__categories-list">
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        ИТ-компаний России
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Поставщиков ИТ-услуг России
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА, IDC, Tadviser
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Разработчиков ПО
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА, IDC, Tadviser
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Системных интеграторов России в сфере построения ИТ-инфраструктуры
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        CNews
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="awards__numbers-item">
                    {{> awards-hoop }}
                    <div class="awards__numbers-card">
                        <div class="awards__numbers-card-digit">
                            <div class="awards__numbers-card-digit-text">
                                Топ
                            </div>
                            <div class="awards__numbers-card-digit-number">
                                500
                            </div>
                        </div>


                        <ul class="awards__categories-list">
                            <li class="awards__categories-list-item awards__categories-list-item--fullwidth">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Поставщиков ИТ для операторов связи и промышленных предприятий
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>


<section class="success-stories js-success-stories">
    <div class="container">
        <div class="inner-container">
            <h2 class="success-stories__heading">
                Истории успеха
            </h2>

            <div class="success-stories__slider">
                <div class="success-stories__slider-top-panel">


                    <div class="success-stories__slider-nav">
                        <a href="#" class="success-stories__slider-nav-link active">
                            Все направления
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Образование
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Торговля
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            ИТ, телекоммуникации
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Нефтегаз
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Промышленность
                        </a>
                    </div>
                </div>
                <div class="success-stories__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="success-stories__slider-bottom-panel">
                    <div class="success-stories__slider-detail-links">
                        <a href="#" class="success-stories__slider-detail-link">
                            Показать еще

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                        <a href="#" class="success-stories__slider-detail-link">
                            Смотреть все проекты

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}