{{#extend "layout"}}
{{#content "main"}}


{{> main-block-1 }}
{{> main-block-2 isShow=true }}

<section class="about-company" id="about-company">
    <div class="container">
        <div class="inner-container">
            <h2 class="about-company__heading">
                О компании
            </h2>
            <div class="about-company__top-row">
                <div class="about-company__intro-text">
                    <p>
                        Создаем ценность для организаций через инновации, опираясь на доверие, опыт и технологии
                    </p>
                </div>
                <div class="about-company__full-text">
                    <p>
                        Работаем в сфере строительства ИТ- и инженерной инфраструктуры, консалтинга и разработки,
                        комплексной безопасности, аутсорсинга и развития
                        стартапов.
                    </p>
                    <p>
                        Группа компаний «АйТеко» объединяет лучшую экспертизу и развивает такие передовые
                        направления, как: большие данные, облачные технологии, искусственный интеллект,
                        интегрированные коммуникации,заказная разработка ПО, блокчейн, строительство с
                        применением информационного моделирования зданий (BIM), сети пятого поколения, также
                        занимается акселерацией стартапов.
                    </p>
                    <p>
                        «АйТеко» работает на ИТ-рынке с 1997 года, сохраняя стабильные темпы роста на протяжении
                        всего времени своего существования. Оборот «АйТеко» по итогам 2019 года составил 36,34 млрд
                        рублей.
                    </p>
                </div>
                <ul class="about-company__features">
                    <li class="about-company__features-item">
                        <div class="about-company__features-card">
                            <div class="about-company__features-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-compass">
                                    <use xlink:href="#compass"></use>
                                </svg>
                            </div>

                            <div class="about-company__features-card-text">
                                <p>
                                    Компания «АйТеко» — российский ИТ-интегратор. Входит в ТОП-500 крупнейших российских
                                    компаний, ТОП-10 крупнейших ИТ-компаний. Работает во всех субъектах РФ.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="about-company__features-item">
                        <div class="about-company__features-card">
                            <div class="about-company__features-card-icon">


                                <svg width="14" height="14" aria-hidden="true" class="icon-handshake">
                                    <use xlink:href="#handshake"></use>
                                </svg>
                            </div>
                            <div class="about-company__features-card-text">
                                <p>
                                    Нам доверяют государственные структуры, крупные корпорации из всех отраслей
                                    экономики. Работая на ИТ-рынке с 1997 года, мы создаем ценность для бизнеса через
                                    инновации, соединяя технологии, доверие и профессионализм.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about-company__bottom-row">
                <ul class="about-company__numbers">

                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                1997
                            </div>
                            <div class="about-company__numbers-card-text">
                                Год основания компании
                            </div>
                        </div>
                    </li>
                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                3000+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Сотрудников в штате
                            </div>
                        </div>
                    </li>
                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                20+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Собственных продуктов
                            </div>
                        </div>
                    </li>

                    <li class="about-company__numbers-item">
                        <div class="about-company__numbers-card">
                            <div class="about-company__numbers-card-number">
                                2900+
                            </div>
                            <div class="about-company__numbers-card-text">
                                Сертификатов
                            </div>
                        </div>
                    </li>

                </ul>
                <a href="#" class="about-company__page-link">
                    <div class="about-company__page-link-bar"></div>
                    О компании

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="awards">
    {{> awards-megahoop }}
    <div class="container">
        <div class="inner-container">


            <h2 class="awards__heading">
                <a href="#" class="awards__heading-link">
                    Признание

                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>

            </h2>
            <div class="awards__top-row">
                <ul class="awards__items">
                    <li class="awards__item">
                        <div class="awards__item-card">
                            <div class="awards__item-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-award">
                                    <use xlink:href="#award"></use>
                                </svg>
                            </div>
                            <div class="awards__item-card-text">
                                <p>
                                    За годы работы компания «АйТеко» удостаивалась многих почетных наград и
                                    дипломов.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="awards__item">
                        <div class="awards__item-card">
                            <div class="awards__item-card-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-crowd">
                                    <use xlink:href="#crowd"></use>
                                </svg>
                            </div>
                            <div class="awards__item-card-text">
                                <p>
                                    Присвоенные звания подчеркивают высокое качество комплексных решений компании
                                    и профессионализм команды специалистов.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="awards__intro-text">
                    <p>
                        Входим в перечень системообразующих организаций российской экономики в сфере информации и
                        связи
                    </p>
                </div>
            </div>
            <ul class="awards__numbers">
                <li class="awards__numbers-item">
                    <div class="awards__numbers-card">
                        <div class="awards__numbers-card-digit">
                            <div class="awards__numbers-card-digit-text">
                                Топ
                            </div>
                            <div class="awards__numbers-card-digit-number">
                                5
                            </div>
                        </div>
                        <ul class="awards__categories-list">
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        ИТ-компаний России
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Поставщиков ИТ-услуг России
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА, IDC, Tadviser
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Разработчиков ПО
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX/Эксперт РА, IDC, Tadviser
                                    </div>
                                </a>
                            </li>
                            <li class="awards__categories-list-item">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Системных интеграторов России в сфере построения ИТ-инфраструктуры
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        CNews
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="awards__numbers-item">
                    {{> awards-hoop }}
                    <div class="awards__numbers-card">
                        <div class="awards__numbers-card-digit">
                            <div class="awards__numbers-card-digit-text">
                                Топ
                            </div>
                            <div class="awards__numbers-card-digit-number">
                                500
                            </div>
                        </div>


                        <ul class="awards__categories-list">
                            <li class="awards__categories-list-item awards__categories-list-item--fullwidth">
                                <a href="#" class="awards__categories-card">
                                    <h4 class="awards__categories-card-title">
                                        Поставщиков ИТ для операторов связи и промышленных предприятий
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                            <use xlink:href="#arrow-diagonal"></use>
                                        </svg>
                                    </h4>
                                    <div class="awards__categories-card-text">
                                        RAEX
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>


<section class="success-stories js-success-stories">
    <div class="container">
        <div class="inner-container">
            <h2 class="success-stories__heading">
                Истории успеха
            </h2>

            <div class="success-stories__slider">
                <div class="success-stories__slider-top-panel">


                    <div class="success-stories__slider-nav">
                        <a href="#" class="success-stories__slider-nav-link active">
                            Все направления
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Образование
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Торговля
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            ИТ, телекоммуникации
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Нефтегаз
                        </a>
                        <a href="#" class="success-stories__slider-nav-link">
                            Промышленность
                        </a>
                    </div>
                </div>
                <div class="success-stories__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="success-stories__slider-main-card">
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/rosatom.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Атомная отрасль
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Мобильное коммуникационное решение для сотрудников атомной отрасли
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/2.png" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Услуги по техподдержке и обслуживанию АПК в 6 макрорегиональных центрах
                                                «Почты России»
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/success-stories/3.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Образование
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Внедрение в ВТБ системы сбора биометрических данных
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="success-stories__slider-subcard">
                                        <div class="success-stories__slider-subcard-icon-container">
                                            <img src="img/simple.svg" alt=""
                                                class="success-stories__slider-subcard-icon">
                                        </div>
                                        <div class="success-stories__slider-subcard-content">
                                            <div class="success-stories__slider-subcard-category">
                                                Торговля
                                            </div>
                                            <div class="success-stories__slider-subcard-text">
                                                Отказоустойчивая локальная сеть в офисе Simple Group на базе решений
                                                Huawei
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="success-stories__slider-bottom-panel">
                    <div class="success-stories__slider-detail-links">
                        <a href="#" class="success-stories__slider-detail-link">
                            Показать еще

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </a>
                        <a href="#" class="success-stories__slider-detail-link">
                            Смотреть все проекты

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}
