{{#extend "layout"}}
{{#content "main"}}



<section class="industry-intro">
    <div class="container">
        <div class="inner-container">
            <div class="industry-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#">
                    Решения
                </a>
            </div>
            <h1 class="industry-intro__heading">
                Финансовый сектор
            </h1>
            <div class="industry-intro__info">
                <div class="industry-intro__info-large-text">
                    <p>
                        АйТеко является надежным многолетним партнером организаций финансового сектора, реализуя проекты
                        по цифровизации любой сложности и масштаба
                    </p>
                </div>
                <div class="industry-intro__info-small-text">
                    <p>
                        Мы решаем задачи заказчиков, опираясь на огромный проектный опыт, экспертизу в работе с
                        решениями ключевых мировых производителей программного и аппар атного обеспечения, стек
                        передовых технологий и собственные разработки.

                    </p>
                    <p>
                        Нашими заказчиками являются банки, инвестиционно-финансовые и страховые учреждения.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="players js-players">
    <div class="container">
        <div class="inner-container">
            <div class="players__top-row">
                <h2 class="players__heading">
                    Нам доверяют крупнейшие игроки рынка
                </h2>
                <div class="players__arrows">
                    <button class="players__arrow players__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="players__arrow players__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="players__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/rosbank.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/nordea.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/rosbank.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/raiffesisen.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/renessans.svg" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/sber.svg" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/rosbank.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/nordea.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/rosbank.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/raiffesisen.png" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/renessans.svg" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="players__slider-card">
                                <img src="img/players/sber.svg" alt="" class="players__slider-card-icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-effect">
    <div class="container">
        <div class="inner-container">
            <div class="solution-effect__card">
                <picture>
                    <source data-srcset="img/solution-effect-bg-mobile.svg" media="(max-width: 640px)">
                    <img data-src="img/solution-effect-bg.svg" alt="MDN" class="lazyload solution-effect__card-bg"
                        data-sizes="auto">
                </picture>
                <h2 class="solution-effect__card-heading">
                    Почему АйТеко?
                </h2>
                <ol class="solution-effect__card-benefits solution-effect__card-benefits--column">
                    <li class="solution-effect__card-benefit">
                        <div class="solution-effect__card-benefit-card">

                            <svg class="object-card__dashed-frame" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="none" width="500" height="1000">

                                <defs>
                                    <linearGradient id="paint0_linear123" x1="1" y1="1" x2="105.178" y2="208.038"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8F5FE3" />
                                        <stop offset="1" stop-color="#00B07A" />
                                    </linearGradient>
                                </defs>
                                <rect fill="none" x="2" y="2" width="496" height="996" rx="12"
                                    stroke="url(#paint0_linear123)" stroke-linecap="round" stroke-width="2"
                                    vector-effect="non-scaling-stroke"></rect>
                            </svg>
                            <div class="solution-effect__card-benefit-card-number">
                                <div class="solution-effect__card-benefit-card-number-text">
                                    01
                                </div>
                            </div>
                            Более 20 лет опыта работы с финансовыми организациями
                        </div>
                    </li>
                    <li class="solution-effect__card-benefit">
                        <div class="solution-effect__card-benefit-card">
                            <svg class="object-card__dashed-frame" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="none" width="500" height="1000">

                                <defs>
                                    <linearGradient id="paint0_linear123" x1="1" y1="1" x2="105.178" y2="208.038"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8F5FE3" />
                                        <stop offset="1" stop-color="#00B07A" />
                                    </linearGradient>
                                </defs>
                                <rect fill="none" x="2" y="2" width="496" height="996" rx="12"
                                    stroke="url(#paint0_linear123)" stroke-linecap="round" stroke-width="2"
                                    vector-effect="non-scaling-stroke"></rect>
                            </svg>
                            <div class="solution-effect__card-benefit-card-number">
                                <div class="solution-effect__card-benefit-card-number-text">
                                    02
                                </div>
                            </div>
                            Реализуем проекты любого масштаба и сложности от построения отказоустойчивой инфраструктуры
                            до прорывных технологий: блокчейн, искусственный интеллект, биометрия для банков и многое
                            другое
                        </div>
                    </li>
                    <li class="solution-effect__card-benefit">
                        <div class="solution-effect__card-benefit-card">
                            <svg class="object-card__dashed-frame" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="none" width="500" height="1000">

                                <defs>
                                    <linearGradient id="paint0_linear123" x1="1" y1="1" x2="105.178" y2="208.038"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8F5FE3" />
                                        <stop offset="1" stop-color="#00B07A" />
                                    </linearGradient>
                                </defs>
                                <rect fill="none" x="2" y="2" width="496" height="996" rx="12"
                                    stroke="url(#paint0_linear123)" stroke-linecap="round" stroke-width="2"
                                    vector-effect="non-scaling-stroke"></rect>
                            </svg>
                            <div class="solution-effect__card-benefit-card-number">
                                <div class="solution-effect__card-benefit-card-number-text">
                                    03
                                </div>
                            </div>
                            Входим в ТОП-10 поставщиков ИТ-решений для банков
                            по итогам 2019 года, по мнению CNews
                        </div>
                    </li>
                    <li class="solution-effect__card-benefit">
                        <div class="solution-effect__card-benefit-card">
                            <svg class="object-card__dashed-frame" xmlns="http://www.w3.org/2000/svg"
                                preserveAspectRatio="none" width="500" height="1000">

                                <defs>
                                    <linearGradient id="paint0_linear123" x1="1" y1="1" x2="105.178" y2="208.038"
                                        gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#8F5FE3" />
                                        <stop offset="1" stop-color="#00B07A" />
                                    </linearGradient>
                                </defs>
                                <rect fill="none" x="2" y="2" width="496" height="996" rx="12"
                                    stroke="url(#paint0_linear123)" stroke-linecap="round" stroke-width="2"
                                    vector-effect="non-scaling-stroke"></rect>
                            </svg>
                            <div class="solution-effect__card-benefit-card-number">
                                <div class="solution-effect__card-benefit-card-number-text">
                                    04
                                </div>
                            </div>
                            Реализуем проекты любого масштаба и сложности от построения отказоустойчивой инфраструктуры
                            до прорывных технологий: блокчейн, искусственный интеллект, биометрия для банков
                            и многое другое
                        </div>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</section>

<section class="solution-examples js-solution-examples-slider">
    <div class="container">
        <div class="inner-container">


            <div class="solution-examples__top-row">
                <h2 class="solution-examples__heading">
                    Проекты
                </h2>

                <div class="solution-examples__arrows">
                    <button class="solution-examples__arrow solution-examples__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="solution-examples__arrow solution-examples__arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="solution-examples__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/1.png" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        ОАО «Мосводоканал»
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов
                                            в
                                            России ЦДК
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>
                                        <div class="solution-examples__slider-card-tag">
                                            Торговля
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/2.jpg" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        Москвёнок
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>

                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/3.svg" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        Simple Group
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Отказоустойчивая локальная сеть
                                            в офисе Simple Group
                                            на базе решений Huawei
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>

                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/1.png" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        ОАО «Мосводоканал»
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов
                                            в
                                            России ЦДК
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>
                                        <div class="solution-examples__slider-card-tag">
                                            Торговля
                                        </div>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/2.jpg" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        Москвёнок
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>

                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="solution-examples__slider-card">
                                <div class="solution-examples__slider-card-logo-container">
                                    <img src="img/solution/examples/3.svg" alt=""
                                        class="solution-examples__slider-card-logo">
                                </div>
                                <div class="solution-examples__slider-card-content">
                                    <h4 class="solution-examples__slider-card-title">
                                        Simple Group
                                    </h4>
                                    <div class="solution-examples__slider-card-text">
                                        <p>
                                            Отказоустойчивая локальная сеть
                                            в офисе Simple Group
                                            на базе решений Huawei
                                        </p>
                                    </div>
                                    <div class="solution-examples__slider-card-tags">
                                        <div class="solution-examples__slider-card-tag">
                                            Образование
                                        </div>

                                    </div>
                                </div>

                            </a>
                        </div>
                    </div>
                </div>

                <div class="solution-examples__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <div class="inner-container">
            <div class="faq__content">
                <h2 class="faq__heading">
                    Предложения для банков и финансовых организаций
                </h2>
                <ol class="faq__accordions-list">

                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">
                                <div class="faq__accordion-btn-text">
                                    Децентрализованная депозитарная система (ДДС) на платформе «Мастерчейн» для выпуска
                                    и
                                    подтверждения электронных закладных
                                </div>


                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Единый сервис для регистрации прав собственности на недвижимость в Росреестре
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Система автоматизации процесса расчета ПДК согласно требованиям ЦБ РФ
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Интеллектуальная платформа SmartSel
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Интеллектуальный корпоративный поиск SmartCS
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Биометрическая система идентификации по изображению лица SmartBM
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">


                                <div class="faq__accordion-btn-text">
                                    Решение «Дистанция» для быстрой организации удаленных рабочих мест
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">
                                <div class="faq__accordion-btn-text">
                                    Голосовые роботы
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">
                                <div class="faq__accordion-btn-text">
                                    Услуги аутсорсинга на основе SLA
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">
                                <div class="faq__accordion-btn-text">
                                    Школа ИТ-специалистов
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="faq__accordions-list-item">
                        <div class="faq__accordion js-accordion" data-close-other="">
                            <div class="faq__accordion-btn js-accordion-btn">
                                <div class="faq__accordion-btn-text">
                                    Brand Analytics
                                </div>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="faq__accordion-content js-accordion-content">
                                <div class="faq__accordion-content-inner">
                                    <p>
                                        В качестве инструмента отчетности и визуализации может использовать уже
                                        имеющиеся в организации программные продукты для бизнес-аналитики
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="solution-feedback">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-feedback__card js-open-modal">
                <div class="solution-feedback__card-bg">
                    <img src="img/solution/solution-feedback-bg.jpg" alt="" class="solution-feedback__bg-image">
                </div>

                <div class="solution-feedback__card-content">
                    <h2 class="solution-feedback__card-small-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-feedback__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-feedback__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>


<section class="details-block">
    <div class="container">
        <div class="inner-container">

            <div class="vacancy__details">
                <h2 class="details-block__heading">
                    Комплексные решения
                </h2>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Информационные<br> технологии
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Телеком, связь, сетевые технологии

                        </li>
                        <li class="vacancy__details-block-list-item">
                            Разработка ПО

                        </li>
                        <li class="vacancy__details-block-list-item">
                            Мультимедийные контакт-центры

                        </li>
                        <li class="vacancy__details-block-list-item">
                            Вычислительные системы
                        </li>

                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Информационная<br> безопасность
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Защита информации
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Сетевая безопасность
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Услуги и средства анализа ИБ
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Решения по контролю ИБ
                        </li>
                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Сервис технической поддержки
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Поддержка корпоративных телеком-систем
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Поддержка контакт-центров
                        </li>
                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Инженерные<br> системы
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Мультимедийные системы
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Системы безопасности
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Системы электроснабжения до 1000 В
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Автоматизированные системы диспетчерского управления
                        </li>

                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Капитальное<br> строительство
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Предпроектные работы
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Служба технического заказчика
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Генподряд
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="publications-slider js-publications-slider">
    <div class="container">
        <div class="inner-container">
            <div class="publications-slider__row">
                <div class="publications-slider__left-col">
                    <h2 class="publications-slider__small-heading">
                        Публикации в СМИ
                    </h2>

                    <div class="publications-slider__arrows">
                        <button class="publications-slider__arrow publications-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="publications-slider__arrow publications-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="publications-slider__right-col">
                    <div class="publications-slider__wrapper">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;3 поставщиков ИТ&#8209;решений для ТЭК
                                            (TAdviser,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;3 ИТ&#8209;поставщиков
                                            для&nbsp;промышленных предприятий (CNews,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;10 ИТ&#8209;компаний ИТ&nbsp;для&nbsp;банков (CNews,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;3 поставщиков ИТ&#8209;решений для ТЭК
                                            (TAdviser,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;3 ИТ-поставщиков
                                            для промышленных предприятий (CNews,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="publications-slider__card">
                                        <div class="publications-slider__card-category">
                                            Рейтинг
                                        </div>
                                        <h4 class="publications-slider__card-title">
                                            ТОП&#8209;10 ИТ&#8209;компаний ИТ&nbsp;для&nbsp;банков (CNews,&nbsp;2019)
                                        </h4>
                                        <div class="publications-slider__card-info">
                                            <div class="publications-slider__card-date">
                                                28 апреля 2020
                                            </div>
                                            <div class="publications-slider__card-tags">
                                                <div class="publications-slider__card-tag">
                                                    #финансы
                                                </div>
                                                <div class="publications-slider__card-tag">
                                                    #цод
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}