{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    
    <div class="container">
        <div class="inner-container">
            <div class="not-found__content">
                <div class="not-found__row">
                    <div class="not-found__left-col">
                        <div class="not-found__code">
                            404
                        </div>
                    </div>
                    <div class="not-found__right-col">
                        <h1 class="not-found__heading">
                            Упс!<br>
                            Что-то<br> пошло не так
                        </h1>
                        <div class="not-found__text">
                            <p>
                                Пожалуйста, вернитесь на предыдущую страницу или на главную страницу
                            </p>
                        </div>
                        <a href="index.html" class="not-found__link">
                            Вернуться на главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}