{{#extend "layout"}}
{{#content "main"}}

<section class="partner">
    <div class="container">
        <div class="inner-container">


            <div class="partner__heading-block">
                <div class="partner__breadcrumbs">
                    <a href="#">
                        Главная
                    </a><br>/ <a href="#">
                        Карьера
                    </a>
                </div>
                <div class="partner__top-row">
                    <img src="img/partners/cisco.jpg" alt="" class="partner__logo">
                    <div class="partner__info">
                        <h1 class="partner__name">
                            CISCO
                        </h1>
                        <div class="partner__description">
                            <p>
                                Американская транснациональная компания, разрабатывающая и продающая сетевое
                                оборудование,
                                предназначенное в основном для крупных организаций и телекоммуникационных предприятий.
                                Одна
                                из крупнейших в мире компаний, специализирующихся в области высоких технологий.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancy__details">
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Статусы:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Cisco Gold Certified Partner – наивысший статус, подтверждаемый ежегодно с 2006

                        </li>
                        <li class="vacancy__details-block-list-item">
                            Customer Satisfaction Excellence – статус удовлетворенности клиентов, подтверждаемый
                            ежегодно с
                            2010
                        </li>
                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Награды и достижения:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            В 2016 компания «РАССЭ» (ГК «Ай-Теко») успешно прошла ресертификационный аудит Cisco без
                            единого
                            замечания
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Эксперты компании имеют свыше 100 уникальных сертификатов Cisco, включая международные Cisco
                            Certified Internetwork Expert (CCIE)
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Service Provider Partner of the Year (итоги 2010)
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Технологический партнер года в области оптических систем/Technology Excellence – Optical
                            (итоги
                            2009)
                        </li>
                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Специализации и авторизации:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Advanced Collaboration Architecture Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Advanced Core and WAN Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Advanced Data Center Architecture Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Advanced Enterprise Networks Architecture Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Advanced Security Architecture Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Advanced Unified Access Specialization
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Cisco Meeting Server formerly Acano
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Flexpod Premium Partner
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Hospitality_Solutions_Partner
                        </li>
                        <li class="vacancy__details-block-list-item">
                            PSPP Local
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">


            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}