{{#extend "layout"}}
{{#content "main"}}

<section class="partners">
    <div class="container">
        <div class="inner-container">


            <div class="partners__top-row">
                <div class="partners__breadcrumbs">
                    <a href="#">
                        Главная
                    </a><br> / <a href="#">
                        Контакты
                    </a>
                </div>

                <h1 class="partners__main-heading">
                    Партнеры
                </h1>
            </div>

            <ul class="partners__list">
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/huawei.jpg" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/cisco.jpg" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/apc.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/dell.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/vmware.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/symantec.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/futjitsu.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/citrix.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/sap.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/avaya.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/hewlett-packard.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__card">
                        <div class="partners__card-logo-container">
                            <img src="img/partners/net-app.png" alt="" class="partners__card-logo">
                        </div>
                        <h4 class="partners__card-title">
                            APC by Schneider Electric
                        </h4>
                        <div class="partners__card-text">
                            Elite Partner — Data Center, IT Power
                        </div>
                        <div class="partners__card-certified">
                            Cisco Gold Certified Partner
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-simple-down">
                                <use xlink:href="#arrow-simple-down"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>


            <div class="partners__slider js-partners-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/brocade.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Brocade
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Cortado
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Fortinet
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    BSB
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Directum
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GFI Software
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    CA
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/drweb.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Dr.Web
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GRG Banking
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/e.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GRG Banking
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Check Point Software
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/e.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ESET
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Informatica Corporation
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Informatica Corporation
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Commvault
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Embarcadero Technologies
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    InfoWatch
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/brocade.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Brocade
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Cortado
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Fortinet
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/abbyy.svg" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ABBYY Software Russia
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    BSB
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Directum
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GFI Software
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/checkpoint.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    AlarmPoint System
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    CA
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/drweb.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Dr.Web
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GRG Banking
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/e.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    GRG Banking
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Аладдин Р.Д
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Check Point Software
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/e.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    ESET
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Informatica Corporation
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/avanpost.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Informatica Corporation
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/amdocs.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Avanpost
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Commvault
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Embarcadero Technologies
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    InfoWatch
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/blue-coat.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="partners__slider-card">
                                <div class="partners__slider-card-logo-container">
                                    <img src="img/partners/alladin.png" alt="" class="partners__slider-card-logo">
                                </div>
                                <h4 class="partners__slider-card-title">
                                    Blue Coat
                                </h4>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="partners__slider-controls">
                    <a href="#" class="partners__slider-show-more">
                        Показать еще
                    </a>
                    <div class="partners__slider-arrows">
                        <button class="partners__slider-arrow partners__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="partners__slider-arrow partners__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">


            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}