{{#extend "layout"}}
{{#content "main"}}

<section class="projects">
    <div class="container">
        <div class="inner-container">


            <div class="projects__top-row">
                <div class="projects__breadcrumbs">
                    <a href="#">
                        Главная
                    </a> <br> /
                    <a href="#">
                        Каталог проектов
                    </a>
                </div>
                <h1 class="projects__heading">
                    Проекты
                </h1>
                <div class="projects__filters">
                    <a href="#" class="projects__filters-link active">
                        истории успеха
                        <span class="projects__filters-link-count">
                            36
                        </span>
                    </a>
                    <a href="#" class="projects__filters-link">
                        Читать отзывы
                        <span class="projects__filters-link-count">
                            100
                        </span>
                    </a>
                </div>
            </div>
            <nav class="projects__nav">
                <div class="projects__nav-links">


                    <a href="#" class="projects__nav-link active">
                        Все направления
                    </a>
                    <a href="#" class="projects__nav-link">
                        Образование
                    </a>
                    <a href="#" class="projects__nav-link">
                        Торговля
                    </a>
                    <a href="#" class="projects__nav-link">
                        ИТ, телекоммуникации
                    </a>
                    <a href="#" class="projects__nav-link">
                        Нефтегаз
                    </a>
                    <a href="#" class="projects__nav-link">
                        Промышленность
                    </a>
                </div>
            </nav>
            <ul class="projects__catalog-list">
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/vodokanal.png" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            ОАО «Мосводоканал»
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>
                            <span class="projects__catalog-card-tag">
                                Торговля
                            </span>
                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/moskvenok.png" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Москвёнок
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/simple.svg" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Simple Group
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Отказоустойчивая локальная сеть
                                в офисе Simple Group
                                на базе решений Huawei
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item projects__catalog-list-item--wide">
                    <a href="#" class="projects__catalog-card projects__catalog-card--large">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/distrib.png" alt="" class="projects__catalog-card-image">

                            <h4 class="projects__catalog-card-title">
                                Центральная дистрибьюторская<br> компания (ЦДК)
                            </h4>
                        </div>

                        <div class="projects__catalog-card-text">
                            <p>
                                Внедрение единой телефонной сети для ведущего дистрибьютора мировых брендов в России ЦДК
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>
                            <span class="projects__catalog-card-tag">
                                ИТ, телекоммуникации
                            </span>

                        </div>
                    </a>
                </li>

                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/vtb.png" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Банка ВТБ
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Внедрение системы управления проектной деятельностью в ВТБ24.
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>


                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/gazprom.svg" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Газпромбанк
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Построение распределенной системы хранения данных и модернизация серверов
                                процессингового центра АБ «Газпромбанк».
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>
                            <span class="projects__catalog-card-tag">
                                Торговля
                            </span>
                        </div>
                    </a>
                </li>

                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/moskvenok.png" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Москвёнок
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/simple.svg" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Simple Group
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Отказоустойчивая локальная сеть
                                в офисе Simple Group
                                на базе решений Huawei
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/gazprom.svg" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Газпромбанк
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Построение распределенной системы хранения данных и модернизация серверов
                                процессингового центра АБ «Газпромбанк».
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>
                            <span class="projects__catalog-card-tag">
                                Торговля
                            </span>
                        </div>
                    </a>
                </li>

                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/moskvenok.png" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Москвёнок
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Электронная карта в образовании: «Москвёнок» вчера, сегодня, завтра
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
                <li class="projects__catalog-list-item">
                    <a href="#" class="projects__catalog-card">
                        <div class="projects__catalog-card-image-container">
                            <img src="img/projects/simple.svg" alt="" class="projects__catalog-card-image">
                        </div>
                        <h4 class="projects__catalog-card-title">
                            Simple Group
                        </h4>
                        <div class="projects__catalog-card-text">
                            <p>
                                Отказоустойчивая локальная сеть
                                в офисе Simple Group
                                на базе решений Huawei
                            </p>
                        </div>
                        <div class="projects__catalog-card-tags">
                            <span class="projects__catalog-card-tag">
                                Образование
                            </span>

                        </div>
                    </a>
                </li>
            </ul>

            <a href="#" class="solutions-catalog__block-show-more">
                Показать еще

                <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="reviews">
    <div class="reviews__content">
        <div class="container">
            <div class="inner-container">
                <h2 class="reviews__heading">
                    Отзывы заказчиков
                </h2>
                <ul class="reviews__list">
                    <li class="reviews__list-item">

                        <a href="#" class="reviews__card">
                            <div class="reviews__card-image-container">
                                <img src="img/reviews/severstal.png" alt="" class="reviews__card-image">
                            </div>
                            <div class="reviews__card-content">
                                <div class="reviews__card-name">
                                    Северсталь
                                </div>
                                <div class="reviews__card-text">
                                    За проектирование и строительство автоматизированной пароводяной котельной ООО
                                    «ОСПАЗ»
                                    (ООО ТИРЭН)
                                </div>
                                <div class="reviews__card-more">
                                    Читать полностью
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="reviews__list-item">

                        <a href="#" class="reviews__card">
                            <div class="reviews__card-image-container">
                                <img src="img/reviews/sibur.png" alt="" class="reviews__card-image">
                            </div>
                            <div class="reviews__card-content">
                                <div class="reviews__card-name">
                                    СибурТюменьГаз
                                </div>
                                <div class="reviews__card-text">
                                    За реализацию этапа проекта модернизации системы управления
                                    и учета печати АО «СибурТюменьГаз»
                                </div>
                                <div class="reviews__card-more">
                                    Читать полностью
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="reviews__list-item">

                        <a href="#" class="reviews__card">
                            <div class="reviews__card-image-container">
                                <img src="img/reviews/pochta.png" alt="" class="reviews__card-image">
                            </div>
                            <div class="reviews__card-content">
                                <div class="reviews__card-name">
                                    Почта России
                                </div>
                                <div class="reviews__card-text">
                                    «Сотрудничество „Почты России“ и „АйТеко“ успешно развивается уже в течение многих
                                    лет,
                                    позволяя...
                                </div>
                                <div class="reviews__card-more">
                                    Читать полностью
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="reviews__list-item">

                        <a href="#" class="reviews__card">
                            <div class="reviews__card-image-container">
                                <img src="img/reviews/palata.png" alt="" class="reviews__card-image">
                            </div>
                            <div class="reviews__card-content">
                                <div class="reviews__card-name">
                                    Счетная палата РФ
                                </div>
                                <div class="reviews__card-text">
                                    За реализацию силами ДЭАР
                                    «АйТеко» контракта по развитию
                                    и сопровождению одной...
                                </div>
                                <div class="reviews__card-more">
                                    Читать полностью
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-diagonal">
                                        <use xlink:href="#arrow-diagonal"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>


<section class="solution-we-can">
    <div class="container">
        <div class="inner-container">
            <a href="#demo" class="solution-we-can__card js-open-modal">
                <div class="solution-we-can__card-content">
                    <h2 class="solution-we-can__card-heading">
                        ОБРАТНАЯ СВЯЗЬ
                    </h2>
                    <div class="solution-we-can__card-text">
                        <p>
                            АйТеко умеет все.<br> Доверьте нам ваши задачи!
                        </p>
                    </div>
                </div>
                <div class="solution-we-can__card-arrow">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}