{{#extend "layout"}}
{{#content "main"}}

<section class="solution-platform solution-platform--fullwidth">
    <div class="container">
        <div class="inner-container">
            <div class="solution-platform__card">
                <img src="img/service-intro-bg.jpg" alt="" class="solution-platform__card-bg">
                <div class="solution-platform__card-breadcrumbs">
                    <a href="#">
                        Главная
                    </a>
                    /
                    <a href="#">
                        Решения
                    </a>
                </div>
                <div class="solution-platform__card-row">
                    <div class="solution-platform__card-left-col">

                        <div class="solution-platform__card-tags">
                            <a href="#" class="solution-platform__card-tag">
                                Аутсорсинг
                            </a>
                            <a href="#" class="solution-platform__card-tag">
                                #стартапы
                            </a>
                            <a href="#" class="solution-platform__card-tag">
                                #большие данные
                            </a>
                        </div>
                    </div>
                    <div class="solution-platform__card-right-col">
                        <h3 class="solution-platform__card-title">
                            Аутсорсинг, сервисные услуги и IaaS, SaaS, PaaS
                        </h3>
                        <div class="solution-platform__card-text solution-platform__card-text--compact">
                            <p>
                                За направление аутсорсинга в ГК «АйТеко» отвечает компания «Сервионика» (ранее —
                                Сервисное подразделение компании «АйТеко») — российский провайдер полного спектра услуг
                                в области ИТ-аутсорсинга
                            </p>


                        </div>
                        <div class="solution-platform__card-features solution-platform__card-features--small">
                            <div class="solution-platform__card-feature">
                                одни из первых
                                начавшие развивать рынок ИТ-аутсорсинга в России
                            </div>
                            <div class="solution-platform__card-feature">
                                основана <br> в 2012 году
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service">
    <div class="container">
        <div class="inner-container">
            <div class="service__card">
                <div class="service__card-text-content">
                    <p>
                        <big>
                            «Сервионика» предоставляет полный спектр услуг
                            в области ИТ-аутсорсинга, дата-центров и колл-центров для клиентов среднего, малого и
                            крупного бизнеса, холдинговых структур и госсектора.
                        </big>
                    </p>
                    <p>
                        В Москве находится головной офис компании и сервисный центр, оказывающий услуги аутсорсинга и
                        технической поддержки ИТ-инфраструктуры.
                    </p>
                    <p>
                        Сеть сервисных подразделений «Сервионики» покрывает всю территорию России. Сервионика является
                        владельцем продуктов РУСТЭК, сертифицированной защищённой платформы виртуализации, и Print-X,
                        который служит для построения инфраструктуры офисной печати.
                    </p>
                    <p>
                        Система предоставляет широкие возможности для автоматизации рутинных операций в организациях
                        разных типов. При необходимости, с помощью SmartSel можно автоматизировать подготовку ответов на
                        типовые запросы. Совместное использование системы и технологии RPA (Robotic Process Automation)
                        позволяет полностью роботизировать первую операторскую линию поддержки как внешних, так и
                        внутренних потребителей продуктов, и сервисов. По мнению разработчиков, SmartSel можно
                        перепоручить до 40% рутинных операций, перенаправив высвободившиеся ресурсы на решение более
                        сложных и важных для бизнеса и организаций задач
                    </p>
                </div>
                <div class="service__card-companies">
                    <a href="#" class="service__card-companies-link">
                        <img src="img/servionica.svg" alt="" class="service__card-companies-link-logo">
                    </a>
                    <a href="#" class="service__card-companies-link">
                        <img src="img/iteko.svg" alt="" class="service__card-companies-link-logo">
                    </a>
                    <a href="#" class="service__card-companies-link">
                        <img src="img/servionica.svg" alt="" class="service__card-companies-link-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solutions-catalog solutions-catalog--no-top-padding">

    <div class="container">
        <div class="inner-container">
            <div class="solutions-catalog__blocks">
                <div class="solutions-catalog__block">

                    <div class="solutions-catalog__block-hashtag">
                        <h2 class="solutions-catalog__block-hashtag-heading">
                            Аутсорсинг поддержки ИТ-инфраструктуры и приложений
                        </h2>

                    </div>

                    <div class="solutions-catalog__block-cards">
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Поддержка оборудования
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Поддержка типовых корпоративных ИТ-сервисов
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Сопровождение информационных систем
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Мультивендорная техническая поддержка
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                    </div>

                    <a href="#" class="solutions-catalog__block-show-more">
                        Показать еще

                        <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block">
                    <div class="solutions-catalog__block-hashtag">
                        <h2 class="solutions-catalog__block-hashtag-heading">
                            Облачные сервисы
                        </h2>

                    </div>

                    <div class="solutions-catalog__block-cards">
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Бизнес Клауд — сервис публичного облака
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        СБКлауд VDI: безопасность
                                        и свобода в работе с бизнес
                                        - приложениями
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Платформа SBCloud Big Data & IoT
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>

                    </div>
                    <a href="#" class="solutions-catalog__block-show-more">
                        Показать еще

                        <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block">
                    <div class="solutions-catalog__block-hashtag">
                        <h2 class="solutions-catalog__block-hashtag-heading">
                            Сервисный консалтинг
                        </h2>

                    </div>

                    <div class="solutions-catalog__block-cards">
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Планирование перехода на аутсорсинг
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Технико-экономическое обоснование перехода на аутсорсинг
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Аудит ИТ-инфраструктуры
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Разработка концепции развития ИТ-инфраструктуры
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>

                    </div>
                    <a href="#" class="solutions-catalog__block-show-more">
                        Показать еще

                        <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block">
                    <div class="solutions-catalog__block-hashtag">
                        <h2 class="solutions-catalog__block-hashtag-heading">
                            Услуги дата-центра
                        </h2>

                    </div>

                    <div class="solutions-catalog__block-cards">
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Размещение оборудования заказчика (co-location)
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Организация резервного ЦОД (РЦОД)
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Телекоммуникационные сервисы
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Аренда вычислительных ресурсов
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>

                    </div>
                    <a href="#" class="solutions-catalog__block-show-more">
                        Показать еще

                        <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block">
                    <div class="solutions-catalog__block-hashtag">
                        <h2 class="solutions-catalog__block-hashtag-heading">
                            Услуги контакт-центра
                        </h2>

                    </div>

                    <div class="solutions-catalog__block-cards">
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Обработка входящих обращений
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Телемаркетинг
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">
                                        Поддержка пользователей
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>
                        <a href="#" class="solutions-catalog__block-card">
                            <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                                class="solutions-catalog__block-card-hoop">
                            <div class="solutions-catalog__block-card-tags">
                                <div class="solutions-catalog__block-card-tag">
                                    #Видеоналитика
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #стартапы
                                </div>
                                <div class="solutions-catalog__block-card-tag">
                                    #большие данные
                                </div>
                            </div>
                            <div class="solutions-catalog__block-card-bottom-row">
                                <div class="solutions-catalog__block-card-content">
                                    <h4 class="solutions-catalog__block-card-title">

                                        Проведение опросов,
                                        анкетирование, маркетинговые
                                        исследования
                                    </h4>
                                    <div class="solutions-catalog__block-card-text">
                                        Платформа может быть применена кредитными организациями,
                                        которые желают осуществлять кредитование своих...
                                    </div>
                                </div>
                                <div class="solutions-catalog__block-card-arrow">
                                    <div class="solutions-catalog__block-card-arrow-inner">

                                    </div>

                                </div>
                            </div>

                        </a>

                    </div>
                    <a href="#" class="solutions-catalog__block-show-more">
                        Показать еще

                        <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down"></use>
                        </svg>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>




{{/content}}
{{/extend}}