{{#extend "layout"}}
{{#content "main"}}


{{> solutions-intro }}
<section class="solutions-catalog">
    <div class="container">
        <div class="solutions-catalog__links">
            <div class="solutions-catalog__filter">
                <div class="solutions-catalog__filter-inner">
                    <svg width="14" height="14" aria-hidden="true" class="icon-filter">
                        <use xlink:href="#filter"></use>
                    </svg>
                    Фильтр
                </div>

                <div class="solutions-catalog__links-dropdown">
                    <div class="solutions-catalog__links-dropdown-inner">



                        <a href="#" class="solutions-catalog__link active">
                            По направлениям
                        </a>
                        <a href="#" class="solutions-catalog__link">
                            По названию
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="solutions-catalog__nav">
            <div class="solutions-catalog__nav-links">


                <a href="#" class="solutions-catalog__nav-link active">
                    Все
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    Разработка
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    ИТ-инфраструктура
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    Инженерные системы
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    Консалтинг
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    Безопасность
                </a>
                <a href="#" class="solutions-catalog__nav-link">
                    Аутсорсинг
                </a>
            </div>
        </nav>
        <div class="solutions-catalog__blocks">
            <div class="solutions-catalog__block">
                <div class="solutions-catalog__block-top-row">
                    <div class="solutions-catalog__block-icon-container">
                        <svg width="14" height="14" aria-hidden="true" class="icon-gears">
                            <use xlink:href="#gears"></use>
                        </svg>
                    </div>
                    <h3 class="solutions-catalog__block-title">
                        Разработка ПО, стартапы, большие данные
                        <div class="solutions-catalog__block-title-count">
                            100
                        </div>
                    </h3>
                    <a href="#" class="solutions-catalog__block-more-link">
                        <span class="solutions-catalog__block-more-link-text">
                            Подробнее
                        </span>

                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block-checkboxes">
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Блокчейн
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #большие данные

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Видеоналитика

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Искусственный интеллект

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Прикладное ПО

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Стартапы для бизнеса

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                </div>
                <div class="solutions-catalog__block-cards">
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Платформа запуска программ лояльности
                                </h4>
                                {{!-- <div class="solutions-catalog__block-card-text">
                                    Платформа может быть применена кредитными организациями,
                                    которые желают осуществлять кредитование своих...
                                </div> --}}
                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Децентрализованная Депозитарная Систему (ДДС) для учета электронных закладных
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Цифровая платформа транспорта
                                    и логистики
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Платформа запуска программ лояльности
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                </div>

                <a href="#" class="solutions-catalog__block-show-more">
                    Показать еще

                    <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
            </div>
            <div class="solutions-catalog__block">
                <div class="solutions-catalog__block-top-row">
                    <div class="solutions-catalog__block-icon-container">
                        <svg width="14" height="14" aria-hidden="true" class="icon-chart">
                            <use xlink:href="#chart"></use>
                        </svg>
                    </div>
                    <h3 class="solutions-catalog__block-title">
                        IT-инфраструктура и телекоммуникационные решения
                        <div class="solutions-catalog__block-title-count">
                            50
                        </div>
                    </h3>
                    <a href="#" class="solutions-catalog__block-more-link">
                        <span class="solutions-catalog__block-more-link-text">
                            Подробнее
                        </span>
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block-checkboxes">
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Вычислительная инфраструктура
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Офисная печать

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Телекоммуникационные решения

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Управление ИТ-инфраструктурой

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>

                </div>
                <div class="solutions-catalog__block-cards">
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Виртуализация и построение частного облака
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Дистанция: цифровые инструменты удаленной работы
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Системы хранения данных и резервного копирования
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-2.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Платформа запуска программ лояльности
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                </div>
                <a href="#" class="solutions-catalog__block-show-more">
                    Показать еще

                    <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
            </div>
            <div class="solutions-catalog__block">
                <div class="solutions-catalog__block-top-row">
                    <div class="solutions-catalog__block-icon-container">
                        <svg width="14" height="14" aria-hidden="true" class="icon-crane">
                            <use xlink:href="#crane"></use>
                        </svg>
                    </div>
                    <h3 class="solutions-catalog__block-title">
                        Инженерные системы и управление строительством
                        <div class="solutions-catalog__block-title-count">
                            135
                        </div>
                    </h3>
                    <a href="#" class="solutions-catalog__block-more-link">
                        <span class="solutions-catalog__block-more-link-text">
                            Подробнее
                        </span>
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="solutions-catalog__block-checkboxes">
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Инженерные системы
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>
                    <label class="solutions-catalog__block-checkbox">
                        <input type="checkbox" class="solutions-catalog__block-checkbox-input" name="category">
                        <span class="solutions-catalog__block-checkbox-content">


                            <span class="solutions-catalog__block-checkbox-text">
                                #Управление строительством

                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </label>


                </div>
                <div class="solutions-catalog__block-cards">
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-3.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Инженерные системы
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>
                    <a href="#" class="solutions-catalog__block-card">
                        <img src="img/solutions/solutions-card-hoop-3.svg" alt=""
                            class="solutions-catalog__block-card-hoop">
                        <div class="solutions-catalog__block-card-tags">
                            <div class="solutions-catalog__block-card-tag">
                                #Видеоналитика
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #стартапы
                            </div>
                            <div class="solutions-catalog__block-card-tag">
                                #большие данные
                            </div>
                        </div>
                        <div class="solutions-catalog__block-card-bottom-row">
                            <div class="solutions-catalog__block-card-content">
                                <h4 class="solutions-catalog__block-card-title">
                                    Управление строительством
                                </h4>

                            </div>
                            <div class="solutions-catalog__block-card-arrow">
                                <div class="solutions-catalog__block-card-arrow-inner">

                                </div>

                            </div>
                        </div>

                    </a>

                </div>
                <a href="#" class="solutions-catalog__block-show-more">
                    Показать еще

                    <svg width="20" height="20" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>


{{/content}}
{{/extend}}