{{#extend "layout"}}
{{#content "main"}}

<section class="solution-platform">
    <div class="container">
        <div class="solution-platform__card">
            <div class="solution-platform__card-breadcrumbs">
                <a href="#">
                    Главная
                </a>
                /
                <a href="#">
                    Решения
                </a>
            </div>
            <div class="solution-platform__card-row">
                <div class="solution-platform__card-left-col">
                    <div class="solution-platform__card-logo-container">
                        <img src="img/solution/smartsel.svg" alt="" class="solution-platform__card-logo">
                    </div>
                    <div class="solution-platform__card-tags">
                        <a href="#" class="solution-platform__card-tag">
                            Разработка ПО
                        </a>
                        <a href="#" class="solution-platform__card-tag">
                            #стартапы
                        </a>
                        <a href="#" class="solution-platform__card-tag">
                            #большие данные

                        </a>
                    </div>
                </div>
                <div class="solution-platform__card-right-col">
                    <h3 class="solution-platform__card-title">
                        Платформа для управления входящим информационным потоком SmartSel
                    </h3>
                    <div class="solution-platform__card-text">
                        <p>
                            Решение SmartSel на основе искусственного интеллекта автоматизирует классификацию и
                            маршрутизацию неструктурированной информации в организации
                        </p>

                        <a href="#" class="solution-platform__card-demo-access">
                            Заказать демодоступ
                        </a>
                    </div>
                    <div class="solution-platform__card-features">
                        <div class="solution-platform__card-feature">
                            Возможность работы
                            с текстовой, голосовой и графической информацией
                        </div>
                        <div class="solution-platform__card-feature">
                            У пользователей есть
                            возможность управлять сценариями взаимодействия с клиентами
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}