{{#extend "layout"}}
{{#content "main"}}

<section class="vacancy">
    <div class="container">
        <div class="inner-container">
            <div class="vacancy__breadcrumbs">
                <a href="#">
                    Главная
                </a> <br>
                / <a href="#">
                    Карьера
                </a>
            </div>
            <div class="vacancy__top-row">
                <div class="vacancy__content">
                    <h1 class="vacancy__main-heading">
                        Ведущий инженер-программист
                    </h1>
                    <div class="vacancy__description">
                        <p>
                            Мы ищем специалистов в компанию «Айтеко». Для вас у нас всегда есть задачи, которые
                            соответствуют уровню вашей квалификации. Проекты, над которыми интересно работать. И
                            достойная оплата труда.
                        </p>
                    </div>
                    <div class="vacancy__info">
                        <div class="vacancy__info-item">
                            <div class="vacancy__info-item-key">
                                Дата публикации
                            </div>
                            <div class="vacancy__info-item-value">
                                28.10.20
                            </div>
                        </div>
                        <div class="vacancy__info-item">
                            <div class="vacancy__info-item-key">
                                Город
                            </div>
                            <div class="vacancy__info-item-value">
                                Москва
                            </div>
                        </div>
                        <div class="vacancy__info-item">
                            <div class="vacancy__info-item-key">
                                Опыт работы
                            </div>
                            <div class="vacancy__info-item-value">
                                от 1 года до 3 лет
                            </div>
                        </div>
                        <div class="vacancy__info-item">
                            <div class="vacancy__info-item-key">
                                Зарплата
                            </div>
                            <div class="vacancy__info-item-value">
                                от 60 000 ₽
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#to-vacancy-form" class="vacancy__apply-btn">
                    <span class="vacancy__apply-btn-text">
                        Откликнуться<br> на вакансию
                    </span>

                </a>
            </div>

            <div class="vacancy__details">
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Фронт задач:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Разработка архитектуры программного решения;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Разработка технологии решения задачи по всем этапам обработки информации;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Определение информации, подлежащей обработке средствами вычислительной техники, ее объемы,
                            структуру, макеты и схемы ввода, обработки, хранения и вывода, методы ее контроля;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Корректировка разработанной программы на основе анализа выходных данных;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Разработка инструкций по работе с программами, оформление необходимой технической
                            документации;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Сопровождение внедрения программ и программных средств.
                        </li>
                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Требования:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            Высшее техническое образование;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Опыт разработки информационных систем не менее 4-х лет;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Уверенное знание C#, .NET, ASP.NET, SQL, JavaScript, опыт использования frontend библиотек
                            (JQuery, Ext JS, React, Angular и др);
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Уверенные знания принципов ООП;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Знание технологий ASP.NET, ADO.NET;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Опыт работы с XML (XSL, XPath, XSD);
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Уверенное знание PL/SQL или T-SQL, опыт написания хранимых процедур;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Знание принципов разработки веб-сервисов, архитектуры REST;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Опыт работы с ORM (Entity Framework, NHibernate);

                        </li>
                        <li class="vacancy__details-block-list-item">
                            Знание и опыт использования основных паттернов проектирования;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Опыт работы с современными системами контроля исходного кода;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Английский язык - технический;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Умение работать в команде
                        </li>

                    </ul>
                </div>
                <div class="vacancy__details-block">
                    <h3 class="vacancy__details-block-heading">
                        Условия:
                    </h3>
                    <ul class="vacancy__details-block-list">
                        <li class="vacancy__details-block-list-item">
                            График работы 5/2, гибкое начало рабочего дня;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Дружная и приятная атмосфера в команде;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Работа в команде опытных специалистов высокого уровня, у которых есть, чему поучиться;
                            уровень задач предполагает постоянное развитие и обучение;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Возможность обучения и профессионального роста;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Социальный пакет (медицинская страховка, включая стоматологию, собственная столовая);
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Корпоративный спорт: скидки на посещение фитнес-клубов, футбольная и волейбольная секции,
                            йога;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Оформление в соответствии с ТК РФ с первого дня работы;
                        </li>
                        <li class="vacancy__details-block-list-item">
                            Комфортабельный офис в шаговой доступности от станции метро Академическая.
                        </li>

                    </ul>
                </div>
            </div>

            <form action="/" method="POST" class="vacancy__reply-form" data-need-validation id="vacancy-form">
                <div class="vacancy__reply-form-left-col">
                    <h2 class="vacancy__reply-form-heading">
                        Откликнуться на вакансию
                    </h2>
                    <div class="vacancy__reply-form-heading-text">
                        <p>
                            Мы ждем именно тебя в нашу команду
                        </p>
                    </div>
                </div>
                <div class="vacancy__reply-form-right-col">
                    <div class="modal__demo-form-fields">
                        <div class="modal__demo-form-field">
                            <input type="text" class="modal__demo-form-input" name="name" placeholder="ФИО" required>
                        </div>
                        <div class="modal__demo-form-field modal__demo-form-field--medium">
                            <textarea name="comment" class="modal__demo-form-input"
                                placeholder="Дополнительная информация"></textarea>
                        </div>
                        <div class="modal__demo-form-field">
                            <input type="tel" class="modal__demo-form-input js-phone-input" name="phone"
                                placeholder="Телефон" required data-parsley-phone>
                        </div>


                        <div class="modal__demo-form-field">
                            <input type="email" class="modal__demo-form-input" name="email" placeholder="E-mail"
                                required>
                        </div>

                        <div class="modal__demo-form-field">
                            <label class="modal__file-upload js-file-upload">
                                <input type="file" name="file" class="modal__file-upload-input"
                                    accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                <span class="modal__file-upload-text js-file-upload-text">
                                    Перетащите файл (pdf, doc, docx,XLS)
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="modal__demo-form-controls">
                        <label class="modal__demo-form-checkbox">
                            <input type="checkbox" name="policy" class="modal__demo-form-checkbox-input" checked
                                required>
                            <span class="modal__demo-form-checkbox-mark">
                                <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </span>
                            <span class="modal__demo-form-checkbox-text">
                                Даю согласие на обработку моих персональных данных, в соответствии с Федеральным законом
                                от
                                27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в
                                <a href="#">
                                    Согласии
                                    на обработку персональных данных
                                </a>

                            </span>
                        </label>
                        <button type="submit" class="modal__demo-form-submit">
                            Отправить
                        </button>
                    </div>
                </div>
                <div class="vacancy__reply-form-success">
                    <h3 class="vacancy__reply-form-success-heading">
                        вакансия отправлена
                    </h3>
                    <div class="vacancy__reply-form-success-text">
                        <p>
                            <em>Спасибо за ваш отклик. </em><br>
                            В ближайшее время с вами свяжется наш специалист – будьте на связи
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="publications-slider publications-slider--vacancy js-publications-slider">
    <div class="container">
        <div class="inner-container">
            <div class="publications-slider__row">
                <div class="publications-slider__left-col">
                    <h2 class="publications-slider__small-heading">
                        Похожие вакансии
                    </h2>

                    <div class="publications-slider__arrows">
                        <button class="publications-slider__arrow publications-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="publications-slider__arrow publications-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="publications-slider__right-col">
                    <div class="publications-slider__wrapper">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Менеджер по продажам
                                            (ИТ оборудование, проекты, услуги)
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Младший инженер-программист
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Менеджер по продажам
                                            (ИТ оборудование, проекты, услуги)
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Младший инженер-программист
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Менеджер по продажам
                                            (ИТ оборудование, проекты, услуги)
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="similar-vacancy-card">
                                        <div class="similar-vacancy-card__city">
                                            Москва
                                        </div>
                                        <h4 class="similar-vacancy-card__heading">
                                            Младший инженер-программист
                                        </h4>
                                        <div class="similar-vacancy-card__date">
                                            24.05.20
                                        </div>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}