.about-intro {
    position: relative;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-bottom: 4rem;
    }
}

.about-intro__breadcrumbs {
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(white, 0.3);
    margin-bottom: auto;

    @include breakpoint(mobile) {
        display: none;
    }

    a {
        .no-touch &:hover {
            color: white;
        }
    }
}

.about-intro__content {
    min-height: 82.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 16rem;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
        padding-top: 10rem;
        padding-bottom: 3rem;
        min-height: auto;
    }
}

.about-intro__bg {
    position: absolute;
    left: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
    top: 0;
    right: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
    height: 100%;
    z-index: -1;
    background-color: #1c1050;

    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    z-index: -1;
    pointer-events: none;
}

.about-intro__row {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.about-intro__text-content {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.about-intro__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 120%;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 130%;
        margin-bottom: 1.5rem;
    }
}

.about-intro__text {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom: 10rem;
    max-width: 75rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 120%;
        max-width: none;
        margin-bottom: 0;
    }
}

.about-intro__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include breakpoint(mobile) {
        display: none;
    }
}

.about-intro__categories-link {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(white, 0.5);

    &:link,
    &:visited {
        color: rgba(white, 0.5);
    }

    &:last-child {
        margin-right: 0;
    }

    .no-touch &:hover {
        color: white;
    }
}

.about-intro__since {
    flex-shrink: 0;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: auto;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        order: -1;
        margin: 0;
        margin-bottom: 3rem;
        flex-shrink: 1;
        width: 19rem;
        height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 54rem;
        height: 54rem;
        background-image: url('../img/since-hoop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;

        @include breakpoint(mobile) {
            width: 26rem;
            height: 26rem;
        }
    }
}

.about-intro__since-small-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 120%;
    }
}

.about-intro__since-year {
    font-weight: 500;
    font-size: 10rem;
    line-height: 1;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

.about-intro__since-content {
    margin-top: 4rem;

    @include breakpoint(mobile) {
        margin-top: 2.5rem;
    }
}

.about-intro__since-year-from {
    position: absolute;
    right: 100%;
    bottom: 0.6rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 140%;
    margin-right: 0.7rem;

    @include breakpoint(mobile) {
        display: inline-flex;
        vertical-align: baseline;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 140%;
        margin-right: 0rem;
        position: static;
        
    }
}
