.intro {
    position: relative;
    z-index: 1;
    color: white;
    overflow: hidden;

    background-image: url('../img/noise-pattern.png'), url('../img/home-page-bg.svg');
    background-position: left top, center;
    background-size: 25.6rem 25.6rem, cover;
    background-repeat: repeat, no-repeat;

    @include breakpoint(mobile) {
        background-image: url('../img/noise-pattern.png'), url('../img/intro-mobile-bg.svg');
    }
}

.intro__content {
    height: 100vh;
    position: relative;
    @include breakpoint(small-tablet) {
        height: 90rem;
    }

    @include breakpoint(mobile) {
        height: auto;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 6.5rem);
        padding: 5rem 0;
        padding-top: 12rem;
    }
}

.intro__pane {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include breakpoint(mobile) {
        opacity: 1;
        visibility: visible;
        height: auto;
        flex-grow: 1;

        justify-content: initial;
    }
}

.intro__controls {
    position: absolute;
    top: 50%;
    right: 6rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 400;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }
    .intro.locked & {
        opacity: 0.5;
    }
}

.intro__controls-btn {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: background-color 0.2s, color 0.2s;

    &.active,
    .no-touch &:hover {
        background: rgba(white, 0.1);
    }
    &:last-child {
        margin-bottom: 0;
    }

    .intro.locked & {
        cursor: default;
    }
    svg {
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        fill: white;
    }
}

.intro__news {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    border-top: 1px solid rgba(#f0f3f4, 0.2);
    padding-top: 2.2rem;

    padding-bottom: 3.5rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__news-tabs-nav {
    display: flex;
    flex-direction: column;

    width: 19rem;
}

.intro__news-tabs-nav-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba(white, 0.3);
    margin-bottom: 1.6rem;
    transition: color 0.2s;

    &:link,
    &:visited {
        color: rgba(white, 0.3);
    }

    .no-touch &:hover {
        color: white;
    }

    &.active {
        color: white;
    }

    svg {
        width: 0.8rem;
        height: 0.8rem;
        flex-shrink: 0;
        margin-left: 0.8rem;
        fill: rgba(white, 0.3);
    }
}

.intro__news-tabs-items {
    width: 50%;
    flex-grow: 1;
}

.intro__news-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 2rem;
}

.intro__news-card {
    display: flex;

    .no-touch &:hover {
        .intro__news-card-title {
            color: white;
        }
    }
}

.intro__news-card-date {
    flex-shrink: 0;
    color: rgba(white, 0.3);
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.intro__news-card-content {
    width: 40%;
    flex-grow: 1;
}

.intro__news-card-title {
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(white, 0.5);
    font-weight: 400;
    margin-top: -0.3em;
    transition: color 0.2s;
}

.intro__cards {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 12rem;
    padding-top: 9rem;
}

.intro__cards-sector {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    flex-grow: 1;
    transition: opacity 0.7s;
    &.active {
        .intro__card-features-list,
        .intro__card-title svg,
        .intro__card-flagship-products {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.7s, visibility 0.7s;
        }

        .intro__card-flagship-products {
            transition: opacity 0.7s ease 0.3s, visibility 0.7s ease 0.3s;
        }

        .intro__card-content {
            transform: scale(1);
        }
    }

    &.faded {
        // pointer-events: none;

        .intro__card {
            opacity: 0.5;
        }
    }
    &:nth-child(1) {
        .intro__card {
            align-self: center;
            justify-self: center;
        }

        .intro__card-content {
            transform: scale(0.85);
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.8);
        }

        &.active {
            .intro__card {
                transform: translate(40%, 40%);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(1);
            }

            .intro__card-content {
                transform: scale(1);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(-50%, -60%);
            }
        }
    }
    &:nth-child(2) {
        .intro__card {
            align-self: center;
            justify-self: flex-end;
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.5);
        }

        .intro__card-content {
            transform: scale(0.6);
        }

        &.active {
            .intro__card {
                transform: translate(-20%, 40%);
            }

            .intro__card-content {
                transform: scale(1);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(0.85);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(-30%, -60%);
            }
        }
    }
    &:nth-child(3) {
        .intro__card {
            align-self: center;
            justify-self: flex-end;
            margin-top: 4rem;
        }

        .intro__card-flagship-products {
            left: auto;
            padding-left: 0;
            right: 100%;
            padding-right: 3rem;
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.7);
        }

        .intro__card-content {
            transform: scale(0.8);
        }

        &.active {
            .intro__card {
                transform: translate(-30%, 50%);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(0.85);
            }

            .intro__card-content {
                transform: scale(1);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(-25%, -65%);
            }
        }
    }
    &:nth-child(4) {
        .intro__card {
            align-self: center;
            justify-self: flex-end;
            margin-top: 4rem;
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.5);
        }

        .intro__card-content {
            transform: scale(0.6);
        }

        &.active {
            .intro__card {
                transform: translate(-30%, -90%);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(0.8);
            }

            .intro__card-content {
                transform: scale(1);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(-40%, 40%);
            }
        }
    }

    &:nth-child(5) {
        .intro__card {
            align-self: center;
            justify-self: flex-end;
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.6);
        }

        .intro__card-content {
            transform: scale(0.6);
        }

        &.active {
            .intro__card {
                transform: translate(-40%, -160%);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(0.7);
            }

            .intro__card-content {
                transform: scale(1);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(20%, 200%);
            }
        }
    }

    &:nth-child(6) {
        .intro__card {
            align-self: center;
            justify-self: flex-end;
            margin-top: 2rem;
        }

        .intro__card-flagship-products {
            left: auto;
            padding-left: 0;
            right: 100%;
            padding-right: 3rem;
        }

        .intro__card-ring {
            transform: translate(-50%, -50%) scale(0.65);
        }

        .intro__card-content {
            transform: scale(0.65);
        }

        &.active {
            .intro__card {
                transform: translate(15%, -100%);
            }

            .intro__card-ring {
                transform: translate(-50%, -50%) scale(0.75);
            }

            .intro__card-content {
                transform: scale(1);
            }
        }

        &.faded {
            .intro__card {
                transform: translate(60%, 170%);
            }
        }
    }
}

.intro__card {
    position: relative;
    transition: transform 0.7s, opacity 0.7s;
}

.intro__card-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom: 2rem;
    max-width: 28rem;

    svg {
        width: 0.85rem;
        height: 0.85rem;
        flex-shrink: 0;
        margin-left: 0.3rem;
        fill: currentColor;
        vertical-align: baseline;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.7s, visibility 0s linear 0.7s;
        display: inline-block;
    }
}

.intro__card-content {
    display: flex;
    flex-direction: column;
    transform-origin: left top;
    transition: transform 0.7s;
    position: relative;
}

.intro__card-features {
    position: relative;

    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    width: auto;
}

.intro__card-features-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s, visibility 0s linear 0.7s;
}

.intro__card-features-list-item {
    font-size: 1.5rem;
    line-height: 120%;
    color: rgba(white, 0.8);
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.intro__card-ring {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 50rem;
    height: 50rem;
    object-fit: contain;
    object-position: center;
    max-width: none;
    transition: transform 0.8s;
}

.intro__card-flagship-products {
    position: absolute;
    left: 100%;
    top: 0;
    width: 29rem;
    height: auto;
    padding-left: 3rem;
    padding-top: 0.3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s, visibility 0s linear 0.7s;
}

.intro__card-flagship-products-heading {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(white, 0.5);
    margin-bottom: 2.5rem;
}

.intro__card-flagship-products-list-item {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    &:last-child {
        margin-bottom: 0;
    }
}

.intro__card-flagship-products-link {
    .no-touch &:hover {
        color: rgba(white, 0.8);
    }
}
