.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4.5rem;

    @include breakpoint(mobile) {
        margin-top: 2.5rem;
        
        justify-content: center;
    }
}

.pagination__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
   
    margin: 0 0.15rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    user-select: none;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        padding: 0.2rem 0.6rem;
    }
    
    &.active {
        background: #f0f3f4;
        cursor: default;
        pointer-events: none;
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        color: var(--primary-color);
    }
}

.pagination__prev,
.pagination__next {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 111%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        // margin-left: auto;
    }
    svg {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-left: 1.3rem;

        @include breakpoint(mobile) {
            height: 1.7rem;
            width: 1.7rem;
            margin: 0;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}


.pagination__prev {
    margin-left: 0;
    margin-right: 1rem;

    @include breakpoint(mobile) {
        // margin-right: auto;
    }

    svg {
        margin-left: 0;
        margin-right: 1.3rem;

        @include breakpoint(mobile) {
            margin: 0;
           
        }
    }
}


.pagination__prev-text,
.pagination__prev-next {
    @include breakpoint(mobile) {
        display: none;
    }
}