.press-center {
    padding-bottom: 10rem;
    background-color: #fff;
    position: relative;
    z-index: 10;

    @include breakpoint(mobile) {
        padding-bottom: 5rem;
    }
}

.press-center__filters {
    display: flex;
    align-items: center;
    padding-bottom: 2.6rem;
    border-bottom: 2px solid var(--text-color);
    margin-bottom: 7rem;
    position: relative;
    z-index: 50;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }
}

.press-center__categories {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        overflow-y: hidden;
        margin-right: 0;
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);
        padding-bottom: 2rem;
        flex-wrap: nowrap;
        gap: unset;
        &::after {
            content: '';
            width: 1px;
            height: 1px;
            flex-shrink: 0;
        }
    }
}

.press-center__categories-link {
   
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 111%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #bbbfc4;
    flex-shrink: 0;
   

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.2;
        white-space: nowrap;
        margin-right: 1.5rem;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &:link,
    &:visited {
        color: #bbbfc4;
    }

    .no-touch &:hover,
    &.active {
        color: var(--primary-color);
    }
}

.press-center__search {
    margin-right: 4rem;
}

.press-center__form {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include breakpoint(mobile) {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.press-center__search-btn {
    svg {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        fill: var(--text-color);
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.press-center__date-select {
    position: relative;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        margin-right: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.press-center__date-select-input-label {
    background: #f0f3f4;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;

    svg {
        width: 1.4rem;
        height: 0.7rem;
        flex-shrink: 0;
        margin-left: 1rem;
        fill: var(--text-color);
        transition: transform 0.2s;
    }
}

.press-center__date-select-input {
    font: inherit;
    font-size: 1.5rem;
    line-height: 140%;

    width: 10rem;

    @include breakpoint(mobile) {
        width: 30%;
        flex-grow: 1;
    }

    &.datepicker-shown ~ svg {
        transform: rotate(180deg);
    }

    @include placeholder {
        color: #bbbfc4;
    }
}

.press-center__theme-select {
    text-align: left;

    .parsley-errors-list.filled {
        color: var(--error-color);
        font-size: 1.2rem;
        margin-top: 0.6rem;
    }
    .choices {
        background: #f0f3f4;
        font-size: 1.5rem;
        line-height: 140%;
        margin-bottom: 0;
        position: relative;
        border-radius: 10rem;
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0rem;
    }

    .choices__inner {
        background: #f0f3f4;
        font-size: 1.4rem;
        line-height: 1.7rem;
        padding: 0rem 2rem;
        min-width: 16.4rem;
        min-height: 4rem;

        display: flex;
        align-items: center;
        background: transparent;
        border-radius: 0;
        border-radius: 10rem !important;
        transition: border-color 0.2s;
        border: none;

        @include breakpoint(mobile) {
            min-width: auto;
        }
    }

    .choices__list--single .choices__item {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &.parsley-error {
        .choices__inner {
            border-color: var(--error-color) !important;
        }
    }

    .choices__list--single {
        padding: 0;
        padding-right: 3rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg fill='%231B1E1D' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath d='M1.17,0,5,3.73,8.83,0,10,1.14,5,6,0,1.14Z'/%3E%3C/svg%3E");
        width: 1.4rem;
        height: 0.7rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
    }

    .choices__placeholder {
        opacity: 1;

        color: #bbbfc4;
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;

        background: white;
        min-width: 100%;
        width: max-content;
        max-width: 25rem;
        right: 0;
        border-radius: 1.5rem !important;
        margin-top: 1rem;
        box-shadow: 0 0 1rem rgba(black, 0.1);
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        padding: 0;

        &.is-active {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }

    &:nth-child(odd) {
        @include breakpoint(mobile) {
            .choices__list--dropdown {
                right: auto;
                left: 0;
            }
        }
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.4rem;
        line-height: 1.7rem;
        transition: background-color 0.2s, color 0.2s;

        padding: 1rem 2rem;
        display: flex;
        align-items: center;

        &.choices__placeholder {
            display: none;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: var(--primary-color);
        color: white;
    }

    .choices__list--dropdown .choices__list {
        max-height: 40rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        @include breakpoint(mobile) {
            max-height: 22rem;
        }
    }
}

.press-center__layout {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.press-center__layout-main {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.press-center__layout-sidebar {
    width: 32rem;
    flex-shrink: 0;
    margin-left: 7rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 0;
        margin: 0;
        margin-top: 4.5rem;
    }
}

.press-center__other-news-list {
    @include breakpointMF(small-tablet) {
        display: flex;
        flex-direction: column;
    }
}

.press-center__other-news-list-item {
    margin-bottom: 5.2rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.press-center__other-news-card {
    display: flex;
    flex-direction: column;

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.press-center__category {
    padding: 0.6rem 1.4rem;
    border-radius: 5rem;
    background-color: transparent;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #e5e8ec;
    color: #1c0f52;
    font-size: 1.3rem;
    line-height: 120%;

    .press-center__catalog-card--white & {
        background-color: rgba(white, 0.15);
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        padding: 0.5rem 1.3rem;
    }
}

.press-center__other-news-card-category {
    margin-bottom: 1.8rem;
}

.press-center__other-news-card-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.press-center__other-news-card-info {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 120%;
}

.press-center__other-news-card-date {
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 2rem;
    color: var(--text-color);
    
}

.press-center__other-news-card-tags {
    display: flex;
    align-items: center;
}

.press-center__other-news-card-tag {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba(#1b1e1d, 0.3);
    margin-right: 1.2rem;
    &:last-child {
        margin-right: 0;
    }
}

.press-center__other-news-slider {
    overflow: visible;
    @include breakpointMF(small-tablet) {
        margin: 0;
        width: 100%;

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
        }

        .swiper-slide {
            box-sizing: border-box;
        }
    }

    @include breakpoint(mobile) {
        .swiper-slide {
            width: 25rem;
        }
    }
}

.press-center__catalog-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4rem;
    grid-auto-flow: dense;

    &--three-col {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include breakpoint(small-tablet) {
        grid-gap: 3rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoint(mobile) {
        grid-gap: 4rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.press-center__catalog-list-item {
    display: flex;
    flex-direction: column;

    &--fullwidth {
        grid-column: span 2;

        @include breakpoint(mobile) {
            grid-column: span 1;
        }
    }
}

.press-center__catalog-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    border-radius: 2.5rem;
    z-index: 1;
    padding: 4rem;
    transition: color 0.2s, box-shadow 0.2s;
    @include breakpoint(mobile) {
        padding: 0;
    }
    &--inner {
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 0;
        @include breakpoint(mobile) {
            padding: 1.8rem;
        }
    }

    &--large {
        border-radius: 3.5rem;
    }
    &--with-bg {
        padding: 4rem;
        flex-grow: 1;

        .no-touch &:not(.press-center__catalog-card--inner):hover {
            box-shadow: 0px 0.8rem 1rem rgba(0, 0, 0, 0.1);
        }

        @include breakpoint(mobile) {
            padding: 1.8rem;
        }
    }

    &--white {
        color: white;

        &:link,
        &:visited {
            color: white;
        }
    }

    &:not(.press-center__catalog-card--with-bg):not(.press-center__catalog-card--inner) {
        &::before {
            content: '';
            position: absolute;
            top: 0rem;
            bottom: 0rem;
            left: 0;
            right: 0;
            z-index: -1;
            border-radius: 2.5rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 0px 0.8rem 2.5rem rgba(0, 0, 0, 0.07);
            background-image: url('../img/press-center/no-bg-hover-bg.svg');
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s linear 0.3s;
        }
    }

    .no-touch &:hover {
        &::before {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.press-center__catalog-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f3f4;
    border-radius: 2.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: -1;
    pointer-events: none;

    @include breakpoint(mobile) {
        border-radius: 2rem;
    }

    .press-center__catalog-card--inner & {
        border-radius: 0;
    }

    .press-center__catalog-card--large & {
        border-radius: 3.5rem;
        @include breakpoint(mobile) {
            border-radius: 2rem;
        }
    }
}

.press-center__catalog-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press-center__catalog-card-category {
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.press-center__catalog-card-title {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 130%;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .press-center__catalog-card--large & {
        font-size: 4.5rem;
        line-height: 120%;

        @include breakpoint(mobile) {
            font-size: 2rem;
        }
    }
}

.press-center__catalog-card-text {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    line-height: 140%;
    max-width: 68rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        max-width: none;
        margin-bottom: 2rem;
    }
}

.press-center__catalog-card-info {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.press-center__catalog-card-date {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 120%;
    margin-right: 2.6rem;

    @include breakpoint(mobile) {
        order: 3;
    }

    .press-center__catalog-card--white & {
        color: white;
    }
}

.press-center__catalog-card-tags {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba(#1b1e1d, 0.3);
    display: flex;
    align-items: center;
    gap: 1.3rem;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }

    .press-center__catalog-card--white & {
        color: rgba(white, 0.3);
    }
}

.press-center__catalog-card-tag {
    // margin-right: 1.3rem;
    // &:last-child {
    //     margin-right: 0;
    // }
}

.press-center__date-select {
    .datepicker.dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: auto !important;
        bottom: auto !important;
        margin-top: 1rem;
        border-radius: 1rem;
        border: none;
        font-size: 16px;
        line-height: 25px;
        box-shadow: 0 0 1rem rgba(black, 0.1);
        padding: 10px;
        width: 260px;

        @include breakpoint(mobile) {
            top: 100% !important;
            right: auto !important;
            left: 0 !important;
            bottom: auto !important;

           
        }
    }

    &:nth-child(even) {
        @include breakpoint(mobile) {
            .datepicker.dropdown-menu {
                left: auto !important;
                right: 0;
            }
        }
    }

    .datepicker-dropdown:before,
    .datepicker-dropdown:after {
        display: none;
    }

    .datepicker table tr td.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active:hover {
        text-shadow: none;
        background: var(--primary-color);
    }

    .datepicker table tr td span.active.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled.active,
    .datepicker table tr td span.active.disabled.disabled,
    .datepicker table tr td span.active.disabled:active,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active.disabled:hover.active,
    .datepicker table tr td span.active.disabled:hover.disabled,
    .datepicker table tr td span.active.disabled:hover:active,
    .datepicker table tr td span.active.disabled:hover:hover,
    .datepicker table tr td span.active.disabled:hover[disabled],
    .datepicker table tr td span.active.disabled[disabled],
    .datepicker table tr td span.active:active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active:hover.active,
    .datepicker table tr td span.active:hover.disabled,
    .datepicker table tr td span.active:hover:active,
    .datepicker table tr td span.active:hover:hover,
    .datepicker table tr td span.active:hover[disabled],
    .datepicker table tr td span.active[disabled] {
        background: var(--primary-color);
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active:hover {
        background: var(--primary-color);
    }
}

.press-center__catalog-two-column-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background: #f0f3f4;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: box-shadow 0.2s;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .no-touch &:hover {
        box-shadow: 0px 0.8rem 1rem rgba(0, 0, 0, 0.1);
    }
}

.press-center__catalog-two-column-card-photo-container {
    position: relative;

    @include breakpoint(mobile) {
        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
}

.press-center__catalog-two-column-card-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
