.solutions-intro {
    background-image: url('../img/noise-pattern.png'), url('../img/home-page-bg.svg');
    background-position: left top, center;
    background-size: 25.6rem 25.6rem, cover;
    background-repeat: repeat, no-repeat;
    color: white;
    position: relative;
    z-index: 1;
    @include breakpoint(mobile) {
        background-image: url('../img/noise-pattern.png'), url('../img/intro-mobile-bg.svg');
    }
}

.solutions-intro__content {
    min-height: 95rem;
    display: flex;
    flex-direction: column;
    padding-top: 17rem;
    padding-bottom: 8rem;
    @include breakpoint(mobile) {
        min-height: auto;
        padding-top: 8rem;
        padding-bottom: 3.8rem;
    }
}

.solutions-intro__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        margin-bottom: 0;
        display: contents;
    }
}

.solutions-intro__breadcrumbs {
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(white, 0.3);

    @include breakpoint(mobile) {
        display: none;
    }
}

.solutions-intro__heading {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130%;
    margin-left: 14rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.5rem;
        margin-left: 0;
        line-height: 130%;
        margin-bottom: 2rem;
    }
}

.solutions-intro__slider {
    width: 100%;
    max-width: 108rem;
    margin: 0 auto;
    position: relative;

    @include breakpoint(tablet) {
        max-width: 90rem;
    }

    @include breakpoint(small-tablet) {
        max-width: 85rem;
    }

    @include breakpoint(mobile) {
        max-width: none;
        margin: 0;
    }

    .swiper-container {
        overflow: visible;
    }

    .swiper-wrapper {
        align-items: center;
    }
}

.solutions-intro__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 300;

    @include breakpoint(mobile) {
        display: none;
    }

    &--prev {
        right: 100%;
        margin-right: 7rem;
    }
    &--next {
        left: 100%;
        margin-left: 7rem;
    }
    svg {
        width: 3rem;
        height: 3rem;
        fill: white;
        display: block;

        &.icon-arrow-left {
            transform: scaleX(-1);
        }
    }
}

.solutions-intro__slider-card {
    padding: 5rem 8rem;
    border-radius: 2.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s;

    .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-duplicate-active) & {
        transform: scale(0.7);

        @include breakpoint(mobile) {
            transform: scale(0.85);
        }
    }

    @include breakpoint(mobile) {
        padding: 2.7rem;
        border-radius: 2.5rem;
    }
}


.solutions-intro__short-card {
    padding: 5rem 8rem;
    border-radius: 2.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s;
    color: var(--text-color);
    
    display: flex;

    &:link,
    &:visited {
        color: var(--text-color);
    }
   
    .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-duplicate-active) & {
        transform: scale(0.7);

        @include breakpoint(mobile) {
            transform: scale(0.85);
        }
    }

    @include breakpoint(mobile) {
        padding: 2.7rem;
        border-radius: 2.5rem;
        flex-direction: column;
        display: grid;
        grid-template-columns: minmax(5.5rem, auto) minmax(0, 1fr);
    }
}

.solutions-intro__slider-card,
.solutions-intro__short-card {
   

    @include breakpointMF(small-tablet) {
        min-height: 48rem;
    }
}

.solutions-intro__short-card-content {
    width: 30%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.solutions-intro__short-card-numbers {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-shrink: 0;
    color: var(--primary-color);

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        order: -1;
        padding-right: 1.5rem;
    }
}

.solutions-intro__short-card-numbers-amount {
    font-weight: 500;
    font-size: 11rem;
    line-height: 1;

    @include breakpoint(mobile) {
        font-size: 4rem;
    }
}

.solutions-intro__short-card-numbers-text {
    white-space: nowrap;
    font-size: 3rem;
    line-height: 4.2rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
    }
}

.solutions-intro__slider-card-top-row {
    display: flex;
    align-items: flex-start;


    @include breakpoint(mobile) {
       
    }
}

.solutions-intro__slider-card-icon-container,
.solutions-intro__short-card-icon-container {
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    margin-right: 7rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
    }
}

.solutions-intro__short-card-icon-container {
    background: #f0f3f4;
}

.solutions-intro__short-card-icon,
.solutions-intro__slider-card-icon {
    max-width: 10rem;
    max-height: 7.2rem;
    width: auto;
    height: auto;
    display: block;
    flex-shrink: 0;
    object-fit: contain;

    @include breakpoint(mobile) {
        max-width: 3rem;
        max-height: 3rem;
    }
}

.solutions-intro__short-card-bg,
.solutions-intro__slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.solutions-intro__short-card-title,
.solutions-intro__slider-card-title {
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 120%;

    @include breakpoint(small-tablet) {
        font-size: 4rem;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 120%;
        
    }
}

.solutions-intro__short-card-title {
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.solutions-intro__slider-card-content {
    padding-top: 4rem;
    padding-left: 22rem;

    @include breakpoint(mobile) {
        padding-top: 1.5rem;
        padding-left: 5.5rem;
    }
}

.solutions-intro__short-card-text,
.solutions-intro__slider-card-text {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 140%;
        margin-bottom: 2.4rem;

        
    }
}

.solutions-intro__slider-card-features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-bottom: 6.5rem;
    align-items: flex-start;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2.4rem;
        margin-bottom: 3.5rem;
    }
}

.solutions-intro__slider-card-feature {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #2FCA99;;
    padding-left: 1.3rem;
    color: #2FCA99;

    @include breakpoint(mobile) {
        padding-left: 0.8rem;
       
    }
}

.solutions-intro__slider-card-feature-name {
    font-size: 1.5rem;
    line-height: 140%;
    margin-top: -0.3rem;
    display: block;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 120%;
        margin-top: 0;
    }
}

.solutions-intro__slider-card-feature-value {
    font-size: 2.5rem;
    line-height: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 120%;
    }

    small {
        font-size: 2.1rem;
        line-height: 1.2;
        font-weight: 400;
        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 120%;
        }
    }

    big {
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 400;
        @include breakpoint(mobile) {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }
}

.solutions-intro__slider-card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.solutions-intro__slider-card-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(white, 0.2);
    border-radius: 5rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1rem;
        line-height: 111%;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        margin-right: 0.2rem;
        margin-bottom: 0.4rem;
    }
    &:last-child {
        margin-right: 0;
    }
}

.solutions-intro__hoop-large {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 90rem;
    height: auto;

    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        width: 40rem;
        margin-left: -10rem;
    }
}

.solutions-intro__hoop-medium {
    top: 5rem;
    right: 5rem;
    position: absolute;
    z-index: -1;
    width: 67rem;
    height: 67rem;

    @include breakpoint(mobile) {
        width: 32rem;
        height: 32rem;
        right: 0;
        top: 5rem;
        margin-right: -16rem;
    }
}

.solutions-intro__hoop-small {
    position: absolute;
    z-index: -1;
    width: 24rem;
    height: 24rem;
    right: 39rem;
    bottom: 0;
    margin-bottom: -8rem;

    @include breakpoint(mobile) {
        display: none;
    }
}



.solutions-intro__slider-pagination {
    display: none;

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        .swiper-pagination-bullet {
            opacity: 1;
            border: none;
            outline: none;
            margin: 0 .25rem;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            flex-shrink: 0;
            background: rgba(white, .2);
            transition: background-color .2s;
    
            &.swiper-pagination-bullet-active {
                background: rgba(white, 1);
            }
        }
    }
  
}