.solution-effect {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 11rem;

    @include breakpoint(mobile) {
        padding-bottom: 5rem;
    }
}

.solution-effect__card {
    background: #1c0f52;
    border-radius: 4rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
    grid-column-gap: 7.5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;

    picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    @include breakpoint(mobile) {
        display: block;
        padding: 3.5rem;
        border-radius: 3rem;
        padding-bottom: 14rem;
    }
}

.solution-effect__card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

    @include breakpoint(mobile) {
        object-position: center bottom;
    }
}

.solution-effect__card-heading {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130%;
    padding-left: 11rem;

    @include breakpoint(mobile) {
        padding: 0;
        font-weight: 500;
        font-size: 2rem;
        line-height: 130%;
        margin-bottom: 3rem;

        br {
            display: none;
        }
    }
}

.solution-effect__card-benefits {
    padding-right: 11rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 5.5rem;
    grid-row-gap: 4rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0;
        grid-gap: 2.5rem;
    }
}

.solution-effect__card-benefit {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &::before {
        display: none;
    }

    @include breakpoint(mobile) {
        &:nth-last-child(1) {
            .solution-effect__card-benefit-card-number {
                background-color: #291762;
            }
            
        }
        &:nth-last-child(2) {
            .solution-effect__card-benefit-card-number {
                background-color: #1E1155;
            }
            
        }
    }
}

.solution-effect__card-benefit-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // border: 2px solid rgba(#884dd6, 0.5);
    // border-radius: 1.5rem;
    padding: 2.4rem 2.8rem;

    font-weight: 500;
    font-size: 1.5rem;
    line-height: 145%;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: 2.2rem 2.8rem;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
    }
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        rect {
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
    }
}

.solution-effect__card-benefit-card-number {
    font-size: 1.5rem;
    line-height: 140%;
    position: absolute;
    top: 0;
    left: 2.2rem;
    font-weight: 400;
    transform: translateY(-50%);
    margin-top: 0.15rem;
    background-color: #1c0f52;
    padding: 0.3rem 0.7rem;
    font-weight: 500;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 140%;
        left: 2rem;
        
    }
}

.solution-effect__card-benefit-card-number-text {
    background: linear-gradient(to top right, #8f5fe3, #00b07a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
