.solution-system {
    padding-bottom: 13rem;
    position: relative;
    z-index: 1;
    background-color: #fff;

    @include breakpoint(mobile) {
        padding-bottom: 4rem;
    }
}

.solution-system__top-panel {
    margin-bottom: 8.5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #000000;
    @include breakpoint(mobile) {
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

.solution-system__text {
    font-weight: 500;
    font-size: 3.6rem;
    max-width: 120rem;
    line-height: 130%;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2rem;
        line-height: 130%;
    }
}

.solution-system__content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
    grid-column-gap: 7.5rem;

    @include breakpoint(mobile) {
        display: block;
    }
}

.solution-system__image-container {
    @include breakpoint(mobile) {
        position: relative;
        backface-visibility: hidden;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 2rem;
        &::before {
            content: '';
            display: block;
            padding-bottom: 65%;
        }
    }
}

.solution-system__image {
    width: 100%;

    height: auto;
    border-radius: 1rem;

    @include breakpoint(mobile) {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 0;
    }
}

.solution-system__text-content {
    font-weight: 400;

    font-size: 2rem;
    line-height: 2.8rem;
    margin-top: -0.8rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        margin: 0;
        line-height: 140%;
    }

    big {
        font-size: 2.5rem;
        line-height: 140%;
        font-weight: 500;

        @include breakpoint(mobile) {
            font-size: 1.6rem;
        }
    }

    p {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
