.solution-platform {
    padding-top: 12.4rem;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 7rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
    }

    &--with-hoop {
        &::after {
            content: '';
            width: 35rem;
            height: 60rem;
            background-image: url('../img/service-light-hoop.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right center;
            z-index: 1;
            position: absolute;
            right: 0;
            // bottom: 0;
            top: 13rem;
            pointer-events: none;

            @include breakpoint(mobile) {
                display: none;
            }
        }
    }

    &--fullwidth {
        padding-top: 0;
    }

    

    @include breakpoint(mobile) {
        padding-top: 9rem;
        padding-bottom: 4rem;

        &--fullwidth {
            padding-top: 0;
        }
    }
}

.solution-platform__card {
    border-radius: 2.5rem;
    overflow: hidden;
    background-color: #1c1050;

    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 13rem;
    color: white;
    position: relative;
    z-index: 1;
    margin: 0 -3.5rem;

    .solution-platform--fullwidth & {
        padding: 0;
        margin: 0 calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        padding: 0 calc((100vw - 100% - var(--sb-width, 0)) / 2);
        padding-top: 16rem;
        padding-bottom: 7.2rem;
        border-radius: 0;
    }

    .solution-platform--light & {
        background-color: transparent;
        color: var(--text-color);
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        margin: 0;

        .solution-platform--fullwidth & {
            padding-top: 9rem;
            padding-bottom: 4rem;
        }
    }
}

.solution-platform__card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    pointer-events: none;
}

.solution-platform__card-breadcrumbs {
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(white, 0.3);
    margin-bottom: 4rem;

    a {
        .no-touch &:hover {
            color: white;
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }

    .solution-platform--light & {
        color: rgba(#1b1e1d, 0.3);

        a {
            .no-touch &:hover {
                color: rgba(#1b1e1d, 1);
            }
        }
    }
}

.solution-platform__card-row {
    display: flex;
    padding-left: 12rem;

    .solution-platform--fullwidth & {
        padding-left: 0;
    }

    @include breakpoint(mobile) {
        padding: 0;
        flex-direction: column;
        display: contents;
    }
}

.solution-platform__card-left-col {
    width: 24rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        display: contents;
    }
}

.solution-platform__card-right-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        display: contents;
    }
}

.solution-platform__card-logo-container {
    width: 15.2rem;
    height: 15.2rem;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;

    &--compact {
        margin-bottom: 4rem;
    }

    .solution-platform--light & {
        background: #f0f3f4;
    }

    @include breakpoint(mobile) {
        width: 4.8rem;
        height: 4.8rem;
        margin-bottom: 0;

        display: none;
    }
}

.solution-platform__card-logo {
    width: 100%;
    height: 100%;
    max-width: 70%;
    max-height: 50%;
    flex-shrink: 0;
    display: block;

    @include breakpoint(mobile) {
        max-width: 3.2rem;
        max-height: 2rem;
    }
}

.solution-platform__card-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: row;
        align-items: initial;
        flex-wrap: wrap;
        order: 20;
        margin-top: 2rem;
    }
}

.solution-platform__card-tag {
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 111%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: rgba(white, 0.2);
    display: inline-flex;
    border-radius: 5rem;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:last-child {
        margin-bottom: 0;
    }

    .no-touch &:hover {
        background-color: rgba(white, 0.3);
    }

    .solution-platform--light & {
        background-color: rgba(#1c0f52, 0.15);
        color: #1c0f52;

        .no-touch &:hover {
            background-color: rgba(#1c0f52, 0.3);
        }
    }
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1rem;
        line-height: 111%;
        padding: 0.5rem 1rem;
        margin-right: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.solution-platform__card-title {
    font-weight: 500;
    font-size: 6rem;
    line-height: 120%;
    margin-bottom: 4rem;
    margin-top: -0.3em;
    padding-right: 14rem;
    @include breakpoint(mobile) {
        margin: 0;
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        margin-bottom: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 0;
    }
}

.solution-platform__card-text {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 10rem;
    padding-right: 26rem;
    position: relative;

    &--compact {
        margin-bottom: 4rem;
    }

    &:last-child {
        margin-bottom: 5rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        font-size: 1.4rem;
        line-height: 140%;
        margin-bottom: 2rem;
        display: contents;
    }
}

.solution-platform__card-features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-top: 2rem;
    }
}

.solution-platform__card-feature {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
    color: var(--primary-color);

    @include breakpointMF(small-tablet) {
        .solution-platform__card-features--small & {
            font-size: 2rem;
            line-height: 2.3rem;
            font-weight: 400;
        }
    }

    @include breakpoint(mobile) {
        padding-left: 1.4rem;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        top: 0.7rem;
        bottom: 0.7rem;
        background-color: var(--primary-color);

        .solution-platform__card-features--small & {
            top: 0.4rem;
            bottom: 0.4rem;
        }

        @include breakpoint(mobile) {
            top: 0.2rem;
            bottom: 0.2rem;
        }
    }
}

@keyframes breath {
    50% {
        transform: translateY(-50%) scale(1.05);
    }

    to {
        transform: translateY(-50%);
    }
}

.solution-platform__card-demo-access {
    @include breakpointMF(small-tablet) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 21rem;
        height: 21rem;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: transform 0.3s;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 110%;
        animation-name: breath;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        .no-touch &:hover {
            animation-play-state: paused;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        padding: 1.3rem 2.6rem;
        background-color: var(--primary-color);
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 2rem;
        align-self: flex-start;
        margin-top: 3.5rem;
        order: 10;
        br {
            display: none;
        }
    }
}

.solution-platform__card-projects {
    color: #1C0F52;

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
   
}

.solution-platform__card-projects-heading {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 140%;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
    }
}


.solution-platform__card-projects-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 1rem;
    }

   
}

.solution-platform__card-projects-list-item {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    line-height: 140%;
    @include breakpoint(mobile) {
        font-size: 1.6rem;

    }

    &::before {
        content: '';
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: #1C0F52;
        flex-shrink: 0;
        margin-right: 1.2rem;
        margin-top: 1.3rem;

        @include breakpoint(mobile) {
            margin-top: .9rem;
        }
    }
}