.solution-economy {
    background-color: #fff;
    padding-bottom: 9rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding-bottom: 4rem;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.solution-economy__content {
    padding-top: 10rem;
    padding-bottom: 13rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding-top: 4.4rem;
        padding-bottom: 4.4rem;
    }

    &::before {
        content: '';
        position: absolute;
        left: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        right: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        top: 0;
        height: 100%;
        z-index: -1;
        pointer-events: none;
        background: #f0f3f4;
    }
}

.solution-economy__heading {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130%;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        margin-bottom: 2.5rem;
    }
}

.solution-economy__examples-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 4rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 1.5rem;
    }
}

.solution-economy__examples-list-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.solution-economy__examples-card {
    padding: 5rem;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 2.5rem;

    background-image: url('../img/solution/economy-hoop.svg');
    background-size: auto 100%;
    background-position: right bottom;
    background-repeat: no-repeat;

    @include breakpoint(mobile) {
        padding: 3.5rem;
        border-radius: 2.5rem;

        background-image: url('../img/solution/economy-hoop-mobile.svg');
    }
}

.solution-economy__examples-card-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr);

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.solution-economy__examples-card-numbers {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
        margin-bottom: 2.5rem;
    }
}

.solution-economy__examples-card-numbers-item {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.solution-economy__examples-card-numbers-item-key {
    font-size: 1.4rem;
    line-height: 120%;
    margin-bottom: 0.3rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 120%;
        margin-bottom: 0.4rem;
    }
}

.solution-economy__examples-card-numbers-item-value {
    font-size: 3.5rem;
    line-height: 4.2rem;
    color: var(--primary-color);
    font-weight: 500;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
    }
    big {
        font-size: 4.5rem;
        line-height: 5.4rem;
        @include breakpoint(mobile) {
            font-weight: 500;
            font-size: 2rem;
            line-height: 120%;
        }
    }
}

.solution-economy__examples-card-text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    color: #1c0f52;

    p {
        margin-bottom: 1.7rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        font-size: 1.5rem;
        line-height: 140%;
        margin-bottom: 3.4rem;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 400;
        @include breakpoint(mobile) {
            font-size: 1.2rem;
            line-height: 140%;
            margin-bottom: 2.5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 1rem;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                margin-right: 1.5rem;
                background: #1b1e1d;

                @include breakpoint(mobile) {
                    margin-right: 1.3rem;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.solution-economy__examples-card-remark {
    margin-top: 3rem;
    font-size: 1rem;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.35);

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 140%;
        margin-top: 3rem;
    }
}

.solution-economy__examples-card-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 120%;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba(27, 30, 29, 0.15);
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 120%;
        padding-bottom: 1.8rem;
        margin-bottom: 2rem;
    }
}
