.solution-history {
  margin-bottom: 11.4rem;
  background-image: url('../img/solution/history-iteko-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.solution-history__container {
  padding: 9.2rem 0 14.8rem;
}

.solution-history__content-wrapper {
  position: relative;
}

.solution-history__main-content-wrapper {
  display: flex;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.solution-history__year-wrapper {
  margin-right: 6.8rem;
  width: 54rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 54rem;
  height: 43rem;
}

.solution-history__title {
  color: #884DD6;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 8rem;
  text-transform: uppercase;
}

.solution-history__year-up-number-wrapper, .solution-history__year-down-number-wrapper {
  font-weight: 500;
  font-size: 28.6rem;
  line-height: 21.6rem;
  width: 100%;
}

.solution-history__year-up-number-wrapper {
  color: #9480EA;
  opacity: 0.15;
}

.solution-history__year-down-number-wrapper {
  background: linear-gradient(to top left, #8F5FE3, #00B07A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
}

// todo для нижнего затемненния
.solution-history__annotations-list-container {
  height: 52.7rem;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, #000 28%);
  mask-image: linear-gradient(to top, transparent 0%, #000 28%);
}

.solution-history__annotation-item {
  color: white;
  text-align: start;

  &.swiper-slide-active {
    .solution-history__annotation-item-value {
      opacity: 1;
    }
  }
}

.solution-history__annotation-item-caption {
  display: block;
  font-size: 2rem;
  margin-bottom: 3rem;
  opacity: 0.2;
}

.solution-history__annotation-item-value {
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  opacity: 0.2;
}

.solution-history__years-list-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7.7rem;
  width: 6rem;
  height: 43rem;
}

.solution-history__year-item {
  color: white;
  opacity: 0.2;
  position: relative;
  padding-left: 2.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    position: absolute;
    content: '';
    width: 1rem;
    height: 0.1rem;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &.swiper-slide-active {
    opacity: 1;

    &:before {
      width: 1.7rem;
    }
  }
}
