.solution-effect {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 11rem;
}

.solution-effect__card {
    background: #1c0f52;
    border-radius: 4rem;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
    grid-column-gap: 7.5rem;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    color: white;
}

.solution-effect__card-heading {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130%;
    padding-left: 11rem;
}

.solution-effect__card-benefits {
    padding-right: 11rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 5.5rem;
    grid-row-gap: 4rem;
}

.solution-effect__card-benefit {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.solution-effect__card-benefit-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid rgba(#884dd6, 0.5);
    border-radius: 1.5rem;
    padding: 2.4rem 2.8rem;

    font-weight: 500;
    font-size: 1.5rem;
    line-height: 145%;
    position: relative;
    &::before {
        content: counter(ordered-list, decimal-leading-zero);
        font-size: 1.5rem;
        line-height: 140%;
        position: absolute;
        top: 0;
        left: 3rem;
        margin-top: 1rem;
        background-color: #1c0f52;
        padding: .3rem 0.7rem;
    }
}
